# Ignore Play! working directory #
bin/
/db
.eclipse
.idea
/lib/
/logs/
/modules
/project/target
/project/project
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.classpath
.project
.settings
.cache-main
.sbtserver
project/.sbtserver
project/.sbtserver.lock

*.cache-tests
.DS_Store

# null filder created by a bug in sbt plugin for Visual Code #
null
