@(issueForm: Form[models.formdata.IssueForm.Data], amlObjectUuid: String,  
	loggedInUser: Option[User], activeOrg: Option[models.Organisation])(implicit flash: Flash, request: RequestHeader, 
	messages: Messages, lang: Lang, webJarAssets: WebJarAssets)

@import b4.inline.fieldConstructor
@import templates._
@import components.buttons._
@import components.media._
@import forms._

@main(Messages("issues"), loggedInUser, activeOrg) {
	@title(Messages("createNewIssue"))
			
	@rowContentButtons() {	
		@rowEvenColumns() {
			@formNormal(routes.IssueController.submitCreate(amlObjectUuid), Messages("create")) {
        		@b4.text(issueForm("name"), '_label -> Messages("name"))
        	}        	
        }{	
    	}		
	}{
		
	}
}
