@import viewdata._

@(issue: Issue, issueUpdateForm: Form[models.formdata.IssueUpdateForm.Data],   
	userStatus: UserStatus)(implicit flash: Flash, request: RequestHeader, 
	messages: Messages, lang: Lang, webJarAssets: WebJarAssets)

@implicitField = @{ FieldConstructor(forms.horizontalFieldConstructor.f(ViewConstants.formLabelColumns, ViewConstants.formInputColumns)) }
@import helper._
@import templates._
@import components.buttons._
@import components.media._
@import forms._

@main(MainViewData(Messages("edit", issue.name), viewdata.NavTypes.Browse, userStatus)) {
	@title(Messages("edit", issue.name))
			
	@rowLargeSmall() {	
		@rowLargeSmall() {
			@helper.form(action = routes.IssueController.submitCreateIssueUpdate(issue.uuid)) {
    			@helper.CSRF.formField
    			@helper.textarea(issueUpdateForm("text"), 'class-> "form-control", '_label -> Messages("text"), 'rows -> 6)
    			@submitButton(Messages("create"))	
			}			
        }{
    	}		
	}{
		
	}
}(NavigationData(List()))