@import viewdata._
@import models.formdata._

@(issue: Issue, issueUpdate: IssueUpdate, issueUpdateForm: Form[IssueUpdateForm.Data], 
	userStatus: UserStatus)(implicit flash: Flash,
    request: RequestHeader, messages: Messages, lang: Lang, webJarAssets: WebJarAssets)

@implicitField = @{ FieldConstructor(forms.horizontalFieldConstructor.f(ViewConstants.formLabelColumns, ViewConstants.formInputColumns)) }
@import helper._
@import templates._
@import components.buttons._
@import components.media._
@import forms._

@main(MainViewData(Messages("edit", issue.name), viewdata.NavTypes.Browse, userStatus)) {
	@title(Messages("edit", issue.name))
			
	@rowLargeSmall() {	
		@rowLargeSmall() {
			@helper.form(action = routes.IssueController.submitEditIssueUpdate(issue.uuid)) {
    			@helper.CSRF.formField
    			@helper.textarea(issueUpdateForm("text"), 'class-> "form-control", '_label -> Messages("text"), 'rows -> 6)
    			@submitButton(Messages("update"))	
			}			
        }{	
			<img class="img-responsive m-x-auto" src="@routes.FileController.getStandardImage(issueUpdate.uuid, 
				models.Types.IssueUpdateType.stringValue)" alt="issue part image">    			
    	}		
	}{
		@backButton(controllers.routes.IssueController.issue(issue.uuid, 1))
		@changeImageButton(issueUpdate.uuid, models.Types.IssueUpdateType)	
	}     
}(NavigationData(List()))
