@import viewdata._

@(issueUpdate: IssueUpdate, issue: Issue, page: Int, userStatus: UserStatus)(implicit flash: Flash, 
	request: RequestHeader, messages: Messages)

@import templates._
@import components.buttons._
@import components.media._
@import components.utils._
@import forms._

@main(MainViewData(issue.name, viewdata.NavTypes.Browse, userStatus)) {
	
	@rowLargeSmall() {
		<div class="card">
			<img class="card-img-top img-responsive m-x-auto" src="@routes.FileController.getStandardImage(issueUpdate.uuid, 
				models.Types.IssueUpdateType.stringValue)" alt="issue part image">
		
			<div class="card-block text-xs-left">
				<h4 class="card-title">@Messages("issueUpdate", issueUpdate.orderNumber, issue.name)</h4>
				<p class="card-text">@issueUpdate.text</p>
			</div>	
		</div>
    	
    }{
        @backButton(controllers.routes.IssueController.issue(issue.uuid, page))
        @editButton(controllers.routes.IssueController.editIssueUpdate(issueUpdate.uuid))
    }
}(NavigationData(List()))