@import viewdata._

@(issue: Issue, domain: Domain, issueUpdateListData: viewdata.ModelListData[IssueUpdate], 
	userStatus: UserStatus)(implicit flash: Flash, request: RequestHeader, messages: Messages, 
	webJarAssets: WebJarAssets)

@import templates._
@import components.buttons._
@import components.media._
@import components.utils._
@import forms._

@main(MainViewData(issue.name, viewdata.NavTypes.Browse, userStatus)) {
	
	@title(issue.name)
	@rowLargeSmall() {
		@paginate(issueUpdateListData.paginateData, controllers.routes.IssueController.issue(issue.uuid, _))
		
		<div class="hidden-lg-down">
			@for(issueUpdateList <- issueUpdateListData.list.grouped(3)) {		
				<div class="row">
  					@for(issueUpdate <- issueUpdateList) {
  						<div class="col-xl-4">
  							@displayIssueUpdate(issueUpdate, issueUpdateListData.paginateData.page)
  						</div>
  					}
  				</div>
  			}
  		</div>
  		
  		<div class="hidden-xs-down hidden-xl-up">
			@for(issueUpdateList <- issueUpdateListData.list.grouped(2)) {		
				<div class="row">
  						@for(issueUpdate <- issueUpdateList) {
  							<div class="col-sm-6 col-md-6 col-lg-6">
  								@displayIssueUpdate(issueUpdate, issueUpdateListData.paginateData.page)
  							</div>
  						}
  				</div>
  			}
  		</div>
  		
  		<div class="row hidden-sm-up">
  			@for(issueUpdate <- issueUpdateListData.list) {		
  				@displayIssueUpdate(issueUpdate, issueUpdateListData.paginateData.page)
  			}  		
  		</div>  		
    }{
        @backButton(controllers.routes.IssueController.list(domain.uuid, issueUpdateListData.paginateData.page))
        @button(link = controllers.routes.IssueController.createIssueUpdate(issue.uuid), text = Messages("addMore"),
        	icon = Some("fa fa-plus fa-fw"))
    }
    
	@for(issueUpdate <- issueUpdateListData.list) {		
  		@createModal(issueUpdate)
  	}    
}
