@import viewdata._

@(domainOpt: Option[Domain], issueListData: viewdata.ModelListData[Issue], 
	parentAmlObjectDataList: List[AmlObjectData], userStatus: UserStatus)(implicit flash: Flash, 
	request: RequestHeader, messages: Messages, lang: Lang, webJarAssets: WebJarAssets)    

@import templates._
@import components.buttons._
@import components.media._
@import components.utils._
@import forms._

@main(MainViewData(Messages("issues"), viewdata.NavTypes.Browse, userStatus)) {
	@title(Messages("issues"))
	@rowLargeSmall() {
    	@{
            val mediaList = issueListData.list.map((issue: Issue) =>
                routes.FileController.getThumbnailImage(issue.uuid, models.Types.IssueType.stringValue))
            val linkList = issueListData.list.map((issue: Issue) =>
                controllers.routes.IssueController.issue(issue.uuid, 1))
            val headingList = issueListData.list.map(_.name)
            val textList = (issueListData.list, parentAmlObjectDataList).zipped map((issue, parentAmlObjectData) => 
            	parentAmlObjectData.domain.name + " / " + parentAmlObjectData.hierarchy.name + " / " +
            	parentAmlObjectData.amlObjectChain.map(_.name).mkString(" / "))
            	
			paginate(issueListData.paginateData, 
				controllers.routes.IssueController.list(domainOpt.map(_.uuid).getOrElse(""), _))
			mediaListWithOneLink(mediaList, linkList, headingList, textList)
    	}
    }{
    }
}(NavigationData(List()))