@(instruction: Instruction, instructionPartForm: Form[models.formdata.InstructionPartForm.Data],   
	loggedInUser: Option[User], activeOrg: Option[models.Organisation])(implicit flash: Flash, request: RequestHeader, 
	messages: Messages, lang: Lang, webJarAssets: WebJarAssets)

@import b4.inline.fieldConstructor
@import templates._
@import components.buttons._
@import components.media._
@import forms._

@main(utils.MainViewData(Messages("edit", instruction.name), utils.NavTypes.Instructions), loggedInUser, activeOrg) {
	@title(Messages("edit", instruction.name))
			
	@rowContentButtons() {	
		@rowEvenColumns() {
			@formNormal(routes.InstructionController.submitCreatePart(instruction.uuid), Messages("create")) {
        		@b4.textarea(instructionPartForm("text"), '_label -> Messages("text"), 'rows -> 5)
        	}        	
        }{
    	}		
	}{
		
	}
}
