@import viewdata._
@import models.formdata._

@(instruction: Instruction, instructionPartForm: Form[InstructionPartForm.Data], userStatus: UserStatus)(implicit flash: Flash, 
	request: RequestHeader, messages: Messages, lang: Lang, webJarAssets: WebJarAssets)

@implicitField = @{ FieldConstructor(forms.horizontalFieldConstructor.f("col-sm-4 col-md-3", "col-sm-8 col-md-9")) }
@import templates._
@import components.buttons._
@import components.media._
@import helper._

@main(MainViewData(Messages("edit", instruction.name), utils.NavTypes.Instructions, userStatus)) {
	@title(Messages("edit", instruction.name))
			
	@rowLargeSmall() {	
		@rowLargeSmall() {
			@helper.form(action = routes.InstructionController.submitCreatePart(instruction.uuid)) {
    			@helper.CSRF.formField
    			@helper.inputText(instructionPartForm("shortText"), 'class-> "form-control", '_label -> Messages("shortText"))
    			@helper.textarea(instructionPartForm("text"), 'class-> "form-control", '_label -> Messages("text"), 'rows -> 6)
    			@submitButton(Messages("create"))	
			}
        }{
    	}		
	}{
		
	}
}
