@(instructionForm: Form[models.formdata.InstructionForm.Data], amlObjectUuid: String,  
	loggedInUser: Option[User], activeDomain: Option[models.Domain])(implicit flash: Flash, request: RequestHeader, 
	messages: Messages, lang: Lang, webJarAssets: WebJarAssets)

@import b4.inline.fieldConstructor
@import templates._
@import components.buttons._
@import components.media._
@import forms._

@main(utils.MainViewData(Messages("createNew", Messages("instruction")), utils.NavTypes.Instructions), loggedInUser, activeDomain) {
	@title(Messages("createNewInstruction"))
			
	@rowContentButtons() {	
		@rowEvenColumns() {
			@formNormal(routes.InstructionController.submitCreate(amlObjectUuid), Messages("create")) {
        		@b4.text(instructionForm("name"), '_label -> Messages("name"))
        	}        	
        }{	
    	}		
	}{
		
	}
}
