@import viewdata._
@import models.formdata._

@(instruction: Instruction, instructionPart: InstructionPart, instructionPartForm: Form[InstructionPartForm.Data], 
	userStatus: UserStatus)(implicit flash: Flash,
    request: RequestHeader, messages: Messages, lang: Lang, webJarAssets: WebJarAssets)

@implicitField = @{ FieldConstructor(forms.horizontalFieldConstructor.f("col-sm-4 col-md-3", "col-sm-8 col-md-9")) }
@import templates._
@import components.buttons._
@import components.media._
@import forms._
@import helper._

@main(MainViewData(Messages("edit", instruction.name), viewdata.NavTypes.Instructions, userStatus)) {
	@title(Messages("instructionPart", instructionPart.orderNumber, instruction.name))
			
	@rowLargeSmall() {	
		@rowLargeSmall() {
			@helper.form(action = routes.InstructionController.submitEditPart(instruction.uuid)) {
    			@helper.CSRF.formField
    			@helper.inputText(instructionPartForm("shortText"), 'class-> "form-control", '_label -> Messages("shortText"))
    			@helper.textarea(instructionPartForm("text"), 'class-> "form-control", '_label -> Messages("text"), 'rows -> 6)
    			@submitButton(Messages("update"))	
			}			
        }{	
			<img class="img-responsive m-x-auto" src="@routes.FileController.getStandardImage(instructionPart.uuid, 
				models.Types.InstructionPartType.stringValue)" alt="instruction part image">    			
    	}		
	}{
		@backButton(controllers.routes.InstructionController.instruction(instruction.uuid, 1))
		@changeImageButton(instructionPart.uuid, models.Types.InstructionPartType)
		@changeVideoButton(instructionPart.uuid, models.Types.InstructionPartType)
		@deleteButton(controllers.routes.InstructionController.deletePart(instructionPart.uuid))	
	}     
}


