@import viewdata._
@import models.formdata._

@(instructionPart: InstructionPart, instruction: Instruction, paginateData: PaginateData, 
	parentAmlObjectData: AmlObjectData, mediaData: MediaData, instructionPartForm: Form[InstructionPartForm.Data], 
	userStatus: UserStatus)(implicit flash: Flash, request: RequestHeader, messages: Messages, lang: Lang, 
	webJarAssets: WebJarAssets)

@implicitField = @{ FieldConstructor(forms.horizontalFieldConstructor.f(ViewConstants.formLabelColumns, ViewConstants.formInputColumns)) }
@import templates._
@import components.buttons._
@import components.utils._
@import components.media._
@import forms._
@import helper._

@main(MainViewData(Messages("edit", instruction.name), viewdata.NavTypes.Browse, userStatus)) {
    
	@{	 
		var linkList = List(controllers.routes.DomainController.domain(parentAmlObjectData.domain.uuid, 1),
        	controllers.routes.DomainController.hierarchy(parentAmlObjectData.hierarchy.uuid, 1))
                
        var textList = List(parentAmlObjectData.domain.name, parentAmlObjectData.hierarchy.name)

        for(amlObject <- parentAmlObjectData.amlObjectChain) {
        	if(amlObject.modelType == Types.ElementType.stringValue) {
            	linkList = linkList ::: List(controllers.routes.DomainController.element(amlObject.uuid, 1, 1))
            } else {
            	linkList = linkList ::: List(controllers.routes.DomainController.interface(amlObject.uuid))
            }

            textList = textList ::: List(amlObject.name)
        }
            
        linkList = linkList ::: List(controllers.routes.InstructionController.instruction(instruction.uuid, 1))
        textList = textList ::: List(instruction.name)
        
        linkList = linkList ::: List(controllers.routes.InstructionController.showPart(instructionPart.uuid, 
        	paginateData.page, mediaData.mediaType.stringValue))
        textList = textList ::: List(instructionPart.orderNumber.toString)

        breadcrumb(linkList, textList)
	}

	<div class="m-t-1">
		@helper.form(action = routes.InstructionController.submitEditPart(instruction.uuid, paginateData.page, mediaData.mediaType.stringValue)) {
    		@helper.CSRF.formField
    		@helper.inputText(instructionPartForm("shortText"), 'class-> "form-control", '_label -> Messages("shortText"))
    		@helper.textarea(instructionPartForm("text"), 'class-> "form-control", '_label -> Messages("text"), 'rows -> 6)
    		@submitButton(Messages("update"))	
		}
	</div>

	<div class="m-t-1">
		@labelInput() {
			<label>@Messages("rearrange")</label>
		}{
			@if(instructionPart.orderNumber > 1) {
				@button(routes.InstructionController.movePartUp(instructionPart.uuid, paginateData.page, mediaData.mediaType.stringValue), 
					Messages("moveUp"), "btn-primary", Some("fa fa-caret-up fa-fw"))
			}
		
			@if(instructionPart.orderNumber < paginateData.count) {
    			@button(routes.InstructionController.movePartDown(instructionPart.uuid, paginateData.page, mediaData.mediaType.stringValue), 
    				Messages("moveDown"), "btn-primary", Some("fa fa-caret-down fa-fw"))
    		}
		}	    	
    </div>
    	
	<div class="m-t-1">
		@labelInput() {
			<label>@Messages("delete")</label>
		}{
			@deleteButton(controllers.routes.InstructionController.deletePart(instructionPart.uuid))
		}
	</div>    	
}(NavigationData(List(
	NavLinkData(controllers.routes.DomainController.domain(userStatus.activeDomain.get.uuid, 1), 
		userStatus.activeDomain.get.name, false)
	)))

