@(instruction: Instruction, instructionForm: Form[models.formdata.InstructionForm.Data], 
	loggedInUser: Option[User], activeDomain: Option[models.Domain])(implicit flash: Flash, 
	request: RequestHeader, messages: Messages, lang: Lang, webJarAssets: WebJarAssets)

@implicitField = @{ FieldConstructor(forms.horizontalFieldConstructor.f("col-sm-4 col-md-3", "col-sm-8 col-md-9")) }
@import helper._
@import templates._
@import components.buttons._
@import components.media._
@import forms._

@main(utils.MainViewData(Messages("edit", Messages("instruction")), utils.NavTypes.Instructions), loggedInUser, activeDomain) {
	@title(Messages("editInstruction"))
			
	@rowLargeSmall() {	
		@rowLargeSmall() {
			@helper.form(action = routes.InstructionController.submitEdit(instruction.uuid)) {
    			@helper.CSRF.formField
    			@helper.inputText(instructionForm("name"), 'class-> "form-control", '_label -> Messages("name"))
    			@submitButton(Messages("update"))	
			}			
        }{	
    	}		
	}{
		@backButton(controllers.routes.InstructionController.instruction(instruction.uuid, 1))
		@changeImageButton(instruction.uuid, models.Types.InstructionType)
		@deleteButton(controllers.routes.InstructionController.delete(instruction.uuid))		
	}
}
