@import viewdata._

@(instruction: Instruction, parentObjectData: AmlObjectData, instructionPartListData: viewdata.ModelListData[InstructionPart], 
	userStatus: UserStatus)(implicit flash: Flash, request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@import templates._
@import components.buttons._
@import components.media._
@import components.utils._
@import forms._

@createModal(instructionPart: InstructionPart) = {
@if(instructionPart.shortText.length > 140) {
<div class="modal" id="@instructionPart.uuid" tabindex="-1" role="dialog" aria-labelledby="@{instructionPart.uuid+"Label"}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        @instructionPart.text
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
}
}

@main(MainViewData(instruction.name, viewdata.NavTypes.Browse, userStatus)) {
	
		@{
			val linkList = List(controllers.routes.InstructionController.list("", 
				instructionPartListData.paginateData.page))                
	        val captionList = List(Messages("listAll"))
        	
        	val activeList = List(false)

        	topNavigation(linkList, captionList, activeList)
		}	
		
		@rowFullWidth() {
    
		@{	 
            var linkList = List(controllers.routes.DomainController.domain(parentObjectData.domain.uuid, 1),
                controllers.routes.DomainController.hierarchy(parentObjectData.hierarchy.uuid, 1))
                
            var textList = List(parentObjectData.domain.name, parentObjectData.hierarchy.name)

            for(amlObject <- parentObjectData.amlObjectChain) {
            	if(amlObject.modelType == Types.ElementType.stringValue) {
                	linkList = linkList ::: List(controllers.routes.DomainController.element(amlObject.uuid, 1, 1))
                } else {
                	linkList = linkList ::: List(controllers.routes.DomainController.interface(amlObject.uuid))
                }

                textList = textList ::: List(amlObject.name)
            }
            
            linkList = linkList ::: List(controllers.routes.InstructionController.instruction(instruction.uuid, 1))
            textList = textList ::: List(instruction.name)

            breadcrumb(linkList, textList)
        }

    	@{
    		val newInstructionPartListData = new viewdata.ModelListData[DbModel with HasName with HasShortText] {
    		override val list = instructionPartListData.list map( instructionPart =>
    			 new DbModel with HasName with HasShortText {
    			override val uuid = instructionPart.uuid
    			override val name = instruction.name + ": " + instructionPart.orderNumber
    			override val shortText = instructionPart.shortText.take(140)
    			})
    			
    		override val paginateData = instructionPartListData.paginateData
    		override val imageList = instructionPartListData.imageList
    		override val videoList = instructionPartListData.videoList
    	}
   		
   		linkGridWithImageNameAndText(newInstructionPartListData, 
   			controllers.routes.InstructionController.instruction(instruction.uuid, _),
				routes.InstructionController.showPart(_, 1, models.MediaTypes.MediaImage.stringValue), 
				models.Types.InstructionPartType)
		}
	}
	
	@rowLargeSmall() {
    	
    }{
    	@editButton(controllers.routes.InstructionController.edit(instruction.uuid), Some(Messages("edit")))
    	
        @button(link = controllers.routes.InstructionController.createPart(instruction.uuid), 
        	text = Messages("addMore"), icon = Some("fa fa-plus fa-fw"), extraClasses = "btn-block")
    }
    
	@for(instructionPart <- instructionPartListData.list) {		
  		@createModal(instructionPart)
  	} 
}
