@(instruction: Instruction, domain: Domain, hierarchy: Hierarchy, 
	elementChain: List[Element], interface: Option[Interface], 
	instructionPartListData: utils.ModelListData[InstructionPart], loggedInUser: Option[User], 
	activeDomain: Option[Domain])(implicit flash: Flash, request: RequestHeader, messages: Messages, 
	webJarAssets: WebJarAssets)

@import templates._
@import components.buttons._
@import components.media._
@import components.utils._
@import forms._

@createModal(instructionPart: InstructionPart) = {
@if(instructionPart.shortText.length > 140) {
<div class="modal" id="@instructionPart.uuid" tabindex="-1" role="dialog" aria-labelledby="@{instructionPart.uuid+"Label"}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        @instructionPart.text
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
}
}

@main(utils.MainViewData(instruction.name, utils.NavTypes.Instructions), loggedInUser, activeDomain) {
	
	@{
		val linkList = List(
			controllers.routes.InstructionController.list("", instructionPartListData.paginateData.page)
		)                
        val captionList = List(
        	Messages("listAll"))
        	
        val activeList = List(false)

        topNavigation(linkList, captionList, activeList)
    }	

    @rowFullWidth() {
    	@{
    		val newInstructionPartListData = new utils.ModelListData[DbModel with NamedModel with HasShortText] {
    		override val list = instructionPartListData.list map( instructionPart =>
    			 new DbModel with NamedModel with HasShortText {
    			override val uuid = instructionPart.uuid
    			override val name = instruction.name + ": " + instructionPart.orderNumber
    			override val shortText = instructionPart.shortText.take(140)
    			override val asJsObject = play.api.libs.json.Json.obj()
    			})
    			
    		override val paginateData = instructionPartListData.paginateData
    		override val imageList = instructionPartListData.imageList
    		override val videoList = instructionPartListData.videoList
    	}
   		
   		linkGridWithImageNameAndText(newInstructionPartListData, 
   			controllers.routes.InstructionController.instruction(instruction.uuid, _),
				routes.InstructionController.showPart(_, 1, models.MediaTypes.MediaImage.stringValue), 
				models.Types.InstructionPartType)
		}
	}
	
	@rowLargeSmall() {
    	@editButton(controllers.routes.InstructionController.edit(instruction.uuid), Some(Messages("edit")))
    }{
        @createButton(controllers.routes.InstructionController.createPart(instruction.uuid), Some(Messages("addMore")))
    }
    
	@for(instructionPart <- instructionPartListData.list) {		
  		@createModal(instructionPart)
  	} 
}
