@import viewdata._

@(domainOpt: Option[Domain], instructionListData: utils.ModelListData[Instruction], 
	parentObjectChains: List[utils.AmlObjectChain],  userStatus: UserStatus)(implicit flash: Flash, 
	request: RequestHeader, messages: Messages, lang: Lang, webJarAssets: WebJarAssets)    

@import templates._
@import components.buttons._
@import components.media._
@import components.utils._
@import forms._

@main(MainViewData(Messages("instructions"), utils.NavTypes.Instructions, userStatus)) {
	
	@{
		val linkList = List(
			controllers.routes.InstructionController.list("", instructionListData.paginateData.page)
		)                
        val captionList = List(
        	Messages("listAll"))
        	
        val activeList = List(true)

        topNavigation(linkList, captionList, activeList)
    }	

    @rowFullWidth() {
    	@{
    	val newInstructionListData = new utils.ModelListData[DbModel with NamedModel with HasShortText] {
    		override val list = (instructionListData.list, parentObjectChains).zipped map((instruction, objectChain) =>
    			 new DbModel with NamedModel with HasShortText {
    			override val uuid = instruction.uuid
    			override val name = instruction.name
    			override val shortText = objectChain.domain.name + " / " + objectChain.hierarchy.name + " / " +
            	objectChain.amlObjectChain.map(eoi => eoi.fold(_.name, _.name)).mkString(" / ")
    			})
    			
    		override val paginateData = instructionListData.paginateData
    		override val imageList = instructionListData.imageList
    		override val videoList = instructionListData.videoList
    	}
    	
   		linkGridWithNameAndText(newInstructionListData, 
   			controllers.routes.InstructionController.list(domainOpt.map(_.uuid).getOrElse(""), _),
				controllers.routes.InstructionController.instruction(_, 1))
		}
	}      
}
