@(domainOpt: Option[Domain], instructionListData: utils.ModelListData[Instruction], 
	parentObjectChains: List[utils.AmlObjectChain],  loggedInUser: Option[User], 
	activeDomain: Option[Domain])(implicit flash: Flash, request: RequestHeader, 
	messages: Messages, lang: Lang, webJarAssets: WebJarAssets)    

@import templates._
@import components.buttons._
@import components.media._
@import components.utils._
@import forms._

@main(utils.MainViewData(Messages("instructions"), utils.NavTypes.Instructions), loggedInUser, activeDomain) {
	
	@{
		val linkList = List(
			controllers.routes.InstructionController.list("", instructionListData.paginateData.page)
		)                
        val captionList = List(
        	Messages("listAll"))
        	
        val activeList = List(true)

        topNavigation(linkList, captionList, activeList)
    }	
	
	@rowFullWidth() {
    	@{
            val linkList = instructionListData.list.map((instruction: Instruction) =>
                controllers.routes.InstructionController.instruction(instruction.uuid, 1))
                
            val headingList = instructionListData.list.map(_.name)
            
            val textList = (instructionListData.list, parentObjectChains).zipped map((instruction, objectChain) => 
            	objectChain.domain.name + " / " + objectChain.hierarchy.name + " / " +
            	objectChain.amlObjectChain.map(eoi => eoi.fold(_.name, _.name)).mkString(" / "))
            	
			paginate(instructionListData.paginateData, controllers.routes.InstructionController.
				list(domainOpt.map(_.uuid).getOrElse(""), _))
			listWithOneLink(linkList, headingList, textList)            	
    	}
    }
}
