@(domainOpt: Option[Domain], instructions: List[Instruction], 
	parentObjectChains: List[utils.AmlObjectChain], paginateData: utils.PaginateData, 
	loggedInUser: Option[User], activeDomain: Option[Domain])(implicit flash: Flash, request: RequestHeader, 
	messages: Messages, lang: Lang, webJarAssets: WebJarAssets)    

@import b4.inline.fieldConstructor
@import templates._
@import components.buttons._
@import components.media._
@import forms._

@main(utils.MainViewData(Messages("instructions"), utils.NavTypes.Instructions), loggedInUser, activeDomain) {
	
	@title(Messages("instructions"))
	@rowContentButtons() {
    	@{
            val mediaList = instructions.map((instruction: Instruction) =>
                routes.FileController.getThumbnailImage(instruction.uuid, models.Types.InstructionType.stringValue))
            val linkList = instructions.map((instruction: Instruction) =>
                controllers.routes.InstructionController.instruction(instruction.uuid, 1))
            val headingList = instructions.map(_.name)
            val textList = (instructions, parentObjectChains).zipped map((instruction, objectChain) => 
            	objectChain.domain.name + " / " + objectChain.hierarchy.name + " / " +
            	objectChain.amlObjectChain.map(eoi => eoi.fold(_.name, _.name)).mkString(" / "))

            displayPaginatedList(mediaList, linkList, headingList, textList, List(),
            	paginateData, controllers.routes.InstructionController.list(domainOpt.map(_.uuid).getOrElse(""), _))
    	}
    }{
    }
}
