@(instructionPart: InstructionPart, instruction: Instruction, page: Int, loggedInUser: Option[User], 
	activeDomain: Option[Domain])(implicit flash: Flash, request: RequestHeader, messages: Messages, 
	webJarAssets: WebJarAssets)

@import templates._
@import components.buttons._
@import components.media._
@import components.utils._
@import forms._

@main(utils.MainViewData(Messages("edit", instruction.name + ": " + instructionPart.orderNumber), utils.NavTypes.Instructions), loggedInUser, activeDomain) {
	
	@rowLargeSmall() {
		<div class="card">
			<img class="card-img-top img-responsive m-x-auto" src="@routes.FileController.getStandardImage(instructionPart.uuid, 
				models.Types.InstructionPartType.stringValue)" alt="instruction part image">
		
			<div class="card-block text-xs-left">
				<h4 class="card-title">@Messages("instructionPart", instructionPart.orderNumber, instruction.name)</h4>
				<p class="card-text">@instructionPart.text</p>
			</div>	
		</div>
		
		<div align="center" class="embed-responsive embed-responsive-4by3">
    		<video controls class="embed-responsive-item">
        		<source src="@routes.FileController.getVideo(instructionPart.uuid, models.Types.InstructionPartType.stringValue)">
    		</video>
		</div>		
    	
    }{
        @backButton(controllers.routes.InstructionController.instruction(instruction.uuid, page))
        @editButton(controllers.routes.InstructionController.editPart(instructionPart.uuid))
    	@button(routes.InstructionController.movePartUp(instructionPart.uuid, page), Messages("moveUp"))
    	@button(routes.InstructionController.movePartDown(instructionPart.uuid, page), Messages("moveDown"))        
    }
}
