@import viewdata._

@(instructionPart: InstructionPart, instruction: Instruction, parentAmlObjectData: AmlObjectData, 
	page: Int, mediaData: MediaData, userStatus: UserStatus)(implicit flash: Flash, request: RequestHeader, 
	messages: Messages, webJarAssets: WebJarAssets)

@import templates._
@import components.buttons._
@import components.media._
@import components.utils._
@import forms._

@main(MainViewData(Messages("edit", instruction.name + ": " + instructionPart.orderNumber), 
	viewdata.NavTypes.Browse, userStatus)) {
	@{
		val linkList = List(
			controllers.routes.InstructionController.list("", page)
		)                
        val captionList = List(
        	Messages("listAll"))
        	
        val activeList = List(false)

        topNavigation(linkList, captionList, activeList)
    }
    
	@{	 
		var linkList = List(controllers.routes.DomainController.domain(parentAmlObjectData.domain.uuid, 1),
        	controllers.routes.DomainController.hierarchy(parentAmlObjectData.hierarchy.uuid, 1))
                
        var textList = List(parentAmlObjectData.domain.name, parentAmlObjectData.hierarchy.name)

        for(amlObject <- parentAmlObjectData.amlObjectChain) {
        	if(amlObject.modelType == Types.ElementType.stringValue) {
            	linkList = linkList ::: List(controllers.routes.DomainController.element(amlObject.uuid, 1, 1))
            } else {
            	linkList = linkList ::: List(controllers.routes.DomainController.interface(amlObject.uuid))
            }

            textList = textList ::: List(amlObject.name)
        }
            
        linkList = linkList ::: List(controllers.routes.InstructionController.instruction(instruction.uuid, 1))
        textList = textList ::: List(instruction.name)

        breadcrumb(linkList, textList)
	}
    
	@{
		val linkList = List(
			controllers.routes.InstructionController.showPart(instructionPart.uuid, page, 
				models.MediaTypes.MediaImage.stringValue),
			controllers.routes.InstructionController.showPart(instructionPart.uuid, page, 
				models.MediaTypes.MediaVideo.stringValue)
		)                
        val captionList = List(
        	Messages("image"),
        	Messages("video")
        	)
        	
        val activeList = List(
        	mediaData.mediaType == models.MediaTypes.MediaImage,
        	mediaData.mediaType == models.MediaTypes.MediaVideo
        	)

        topNavigation(linkList, captionList, activeList)
    }
    
    @rowLargeSmall() {
    	@if(mediaData.mediaType == models.MediaTypes.MediaImage) {
    		@if(mediaData.hasMedia) {
    		<img class="img-fluid" src="@routes.FileController.getStandardImage(instructionPart.uuid, 
				models.Types.InstructionPartType.stringValue)" alt="@instructionPart.shortText">
			} else {
				<i class="fa fa-camera-retro fa-5x"></i>
			}
    	}
    	@if(mediaData.mediaType == models.MediaTypes.MediaVideo) {
    		@if(mediaData.hasMedia) {
    		<div class="embed-responsive embed-responsive-16by9">
			<video controls>
  				<source src="@routes.FileController.getVideo(instructionPart.uuid, models.Types.InstructionPartType.stringValue)">
  					Your browser does not support the video tag.
			</video>    		
    		</div>
    		} else {
				<i class="fa fa-video-camera fa-5x"></i>
			}
    	}
    } {
    	<h4>@{ instruction.name + ": " + instructionPart.orderNumber }</h4>
    	<p>@instructionPart.text</p>
    	
		@backButton(controllers.routes.InstructionController.instruction(instruction.uuid, page))
        @editButton(controllers.routes.InstructionController.editPart(instructionPart.uuid, page, mediaData.mediaType.stringValue))
    }
}(NavigationData(List()))