@import viewdata._

@(instructionPart: InstructionPart, instruction: Instruction, parentAmlObjectData: AmlObjectData, 
	page: Int, mediaData: MediaData, userStatus: UserStatus)(implicit flash: Flash, request: RequestHeader, 
	messages: Messages)

@import templates._
@import components.buttons._
@import components.media._
@import components.utils._
@import forms._

@main(MainViewData(Messages("edit", instruction.name + ": " + instructionPart.orderNumber), 
	viewdata.NavTypes.Browse, userStatus)) {

	@{	 
		var linkList = List(controllers.routes.DomainController.domain(parentAmlObjectData.domain.uuid, 1),
        	controllers.routes.DomainController.hierarchy(parentAmlObjectData.hierarchy.uuid, 1))
                
        var textList = List(parentAmlObjectData.domain.name, parentAmlObjectData.hierarchy.name)

        for(amlObject <- parentAmlObjectData.amlObjectChain) {
        	if(amlObject.modelType == Types.ElementType.stringValue) {
            	linkList = linkList ::: List(controllers.routes.DomainController.element(amlObject.uuid, 1, 1))
            } else {
            	linkList = linkList ::: List(controllers.routes.DomainController.interface(amlObject.uuid))
            }

            textList = textList ::: List(amlObject.name)
        }
            
        linkList = linkList ::: List(controllers.routes.InstructionController.instruction(instruction.uuid, 1))
        textList = textList ::: List(instruction.name)
        
        linkList = linkList ::: List(controllers.routes.InstructionController.showPart(instructionPart.uuid, page, 
        	mediaData.mediaType.stringValue))
        textList = textList ::: List(instructionPart.orderNumber.toString)

        breadcrumb(linkList, textList)
	}
    
	@{
		val linkList = List(
			controllers.routes.InstructionController.showPart(instructionPart.uuid, page, 
				models.MediaTypes.MediaImage.stringValue),
			controllers.routes.InstructionController.showPart(instructionPart.uuid, page, 
				models.MediaTypes.MediaVideo.stringValue)
		)                
        val captionList = List(
        	Messages("image"),
        	Messages("video")
        	)
        	
        val activeList = List(
        	mediaData.mediaType == models.MediaTypes.MediaImage,
        	mediaData.mediaType == models.MediaTypes.MediaVideo
        	)

        topNavigation(linkList, captionList, activeList)
    }
    
    @if(mediaData.mediaType == models.MediaTypes.MediaImage) {
	<div class="m-t-1">
		@labelInput() {
			<label>@Messages("image")</label>
		}{
			@if(mediaData.hasMedia) {
    			<img class="img-fluid" src="@routes.FileController.getStandardImage(instructionPart.uuid, 
					models.Types.InstructionPartType.stringValue)" alt="@instructionPart.shortText">
			} else {
				<i class="fa fa-camera-retro fa-5x"></i>
			}
		}
		<div class="m-t-1">
		@onlyInput() {
			@changeImageButton(instructionPart.uuid, models.Types.InstructionPartType)
		}
		</div>
	</div>
	}
    
    @if(mediaData.mediaType == models.MediaTypes.MediaVideo) {
	<div class="m-t-1">
		@labelInput() {
			<label>@Messages("video")</label>
		}{
			@if(mediaData.hasMedia) {
    		<div class="embed-responsive embed-responsive-16by9">				
				<video controls="controls" preload="none">
    				<!-- MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7 -->
    				<source type="video/mp4" src="@routes.FileController.getVideo(instructionPart.uuid, models.Types.InstructionPartType.stringValue)" /> 
    				<!-- Flash fallback for non-HTML5 browsers without JavaScript -->
    					<object type="application/x-shockwave-flash" data="@routes.Assets.at("lib/mediaelement/js/flashmediaelement.swf")">
        				<param name="movie" value="@routes.Assets.at("lib/mediaelement/js/flashmediaelement.swf")" />
        				<param name="flashvars" value="controls=true&file=@routes.FileController.getVideo(instructionPart.uuid, models.Types.InstructionPartType.stringValue)" />
    				</object>
				</video>
    		</div>
			} else {
				<i class="fa fa-video-camera fa-5x"></i>
			}
		}
		<div class="m-t-1">
		@onlyInput() {
			@changeVideoButton(instructionPart.uuid, models.Types.InstructionPartType)
		}
		</div>
	</div>    
    }

	<div class="m-t-1">
		@labelInput() {
			<label>@Messages("text")</label>
		}{
			<p>@instructionPart.text</p>
		}
	</div>
	
	<div class="m-t-1">
		@onlyInput() {
			@button(controllers.routes.InstructionController.editPart(instructionPart.uuid, page, mediaData.mediaType.stringValue), 
				Messages("edit", instruction.name + ": " + instructionPart.orderNumber), "btn-primary", Some("fa fa-pencil fa-fw"))
		}
	</div>        
}(NavigationData(List(
	NavLinkData(controllers.routes.DomainController.domain(userStatus.activeDomain.get.uuid, 1), 
		userStatus.activeDomain.get.name, false)
	)))