@(submitTo: play.api.mvc.Call)(implicit flash: Flash, request: RequestHeader, messages: Messages)

@import b3.inline.fieldConstructor

<fieldset>
    @b3.form(submitTo, 'enctype -> "multipart/form-data") {
    @helper.CSRF.formField

    <div class="form-group">
    	@b3.file(forms.FileUploadForm.form(forms.AmlFileKeyString), '_label -> Messages("choose.aml.file"))
    </div>

    <div class="form-group">
    	<div>
        	<button id="submit" type="submit" value="submit" class="btn btn-primary">
            	<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                	@Messages("amlFile.upload")
            </button>
        </div>
    </div>
    }
</fieldset>