@(organisationForm: Form[models.formdata.OrganisationForm.Data], loggedInUser: Option[models.User], 
	activeOrg: Option[models.Organisation])(implicit flash: Flash, request: RequestHeader, messages: Messages, 
	lang: Lang, webJarAssets: WebJarAssets)

@import b4.inline.fieldConstructor
@import templates._
@import components.buttons._
@import components.media._
@import forms._

@main(Messages("organisations"), loggedInUser, activeOrg) {
	@title(Messages("createNewOrganisation"))
		
	@rowContentButtons() {
		@rowEvenColumns() {
			@formNormal(routes.OrganisationController.submitCreate, Messages("create")) {
        		@b4.text(organisationForm("name"), '_label -> Messages("name"))
        	}
        }{		
		}  		
	}{
		@backButton(controllers.routes.OrganisationController.list(1))	
	}
}


