@(organisations: List[Organisation], paginateData: utils.PaginateData, loggedInUser: Option[User], activeOrg: Option[Organisation])(implicit
    flash: Flash, request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@import templates._
@import components.media._
@import components.buttons._
@import components.utils._

@main(Messages("organisations"), loggedInUser, activeOrg) {
	@title(Messages("chooseActiveOrganisation"))
	@rowContentButtons() {
    	@{
            val mediaList = organisations.map{ organisation =>
                    routes.FileController.getThumbnailImage(organisation.uuid, models.Types.OrganisationType.stringValue)
                }
            val linkList = organisations.map((organisation: Organisation) =>
                controllers.routes.OrganisationController.setActiveOrganisation(organisation.uuid,
                paginateData.page))
            val headingList = organisations.map(_.name)
            val textList = organisations.map(_.name)
            val activatedList = organisations.map((organisation: Organisation) =>
                if(activeOrg.isDefined) {
                    (organisation.uuid == activeOrg.get.uuid)
                } else {
                    false
                }
            )

            displayPaginatedList(mediaList, linkList, headingList, textList, activatedList,
            	paginateData, controllers.routes.OrganisationController.editActiveOrganisation(_))
    	}
    }{
        @backButton(controllers.routes.OrganisationController.list(paginateData.page))
    }
}