@(organisation: Organisation, users: List[User], usersCount: Int, usersPage: Int, usersPageLength: Int,
    loggedInUser: Option[User], activeOrg: Option[Organisation])(implicit flash: Flash, request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default
@import templates._

@main(Messages("organisations"), loggedInUser, activeOrg) {
    @rowMainSecondary() {
        @title(organisation.name, Some(Messages("organisation.changeAllowedUsers")))
    }{
        @backButton(controllers.routes.OrganisationController.edit(organisation.uuid))
    }
    <hr>
    @rowColumnCenter() {
        @paginate(usersPage, usersPageLength, usersCount, controllers.routes.OrganisationController.editAllowedUsers(organisation.uuid, _))

        @{
            val mediaList = users.map((user: User) =>
				if(user.imageReadFileId != models.UuidNotSet) {					
                    routes.FileRetreiverController.getImage(user.imageReadFileId)
                } else {
                    routes.Assets.at("images/user-default.png")
                }
            )
            val linkList = users.map((user: User) => controllers.routes.OrganisationController.changeAllowedUser(organisation.uuid, user.uuid, usersPage))
            val headingList = users.map(_.fullName)
            val textList = users.map(_.email)
            val activatedList = users.map((user: User) => organisation.allowedUsers.contains(user.uuid))

            mediaListToggle(mediaList, linkList, headingList, textList, activatedList)
        }
    }
}