@(organisations: List[Organisation], count: Int, page: Int, pageLength: Int, loggedInUser: Option[User], activeOrg: Option[Organisation])(implicit
    flash: Flash, request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@import templates._

@main(Messages("organisations"), loggedInUser, activeOrg) {
    @rowMainSecondary() {
        @title(Messages("organisations.select.active"))
    }{
        @backButton(controllers.routes.OrganisationController.list(1))
    }
    <hr>
    @rowColumnCenter() {
        @paginate(page, pageLength, count, controllers.routes.OrganisationController.editActiveOrganisation(_))

        @{
            val mediaList = organisations.map((organisation: Organisation) =>
                if(organisation.imageReadFileId.isDefined) {
                    routes.FileRetreiverController.getImage(organisation.imageReadFileId.get)
                } else {
                    routes.Assets.at("images/organisation-default.png")
                }
            )
            val linkList = organisations.map((organisation: Organisation) =>
                controllers.routes.OrganisationController.setActiveOrganisation(organisation.uuid.get,
                page))
            val headingList = organisations.map(_.name.get)
            val textList = organisations.map(_.name.get)
            val activatedList = organisations.map((organisation: Organisation) =>
                if(activeOrg.isDefined) {
                    (organisation.uuid.get == activeOrg.get.uuid.get)
                } else {
                    false
                }
            )

            mediaListToggle(mediaList, linkList, headingList, textList, activatedList)
        }
    }
}