@(organisationForm: Form[forms.OrganisationForm.Data], uuidToEdit: Option[String], loggedInUser: Option[models.User], activeOrg: Option[models.Organisation])(implicit flash: Flash,
    request: RequestHeader, messages: Messages, lang: Lang, webJarAssets: WebJarAssets)

@import b3.vertical.fieldConstructor
@import templates._

@updateNewText(update: Boolean) = @{
    if (uuidToEdit.isDefined) Messages("command.update") else Messages("command.add")
}

@main(Messages("organisations"), loggedInUser, activeOrg) {
	@titleArea(Messages("organisation"), uuidToEdit.map(s => Some(Messages("function.edit"))).getOrElse(Some(Messages("function.create"))), 
		Some(controllers.routes.OrganisationController.list(1)))
    @rowColumnCenter() {
    	@if(uuidToEdit.isDefined) {
    		@formNormal(routes.OrganisationController.submitEdit(uuidToEdit.get), updateNewText(true)) {
        		@b3.text(organisationForm("name"), '_label -> Messages("organisation.name"))
        	}
        	
        	<hr>
        
        	@formFileUpload(routes.FileController.submitImage(uuidToEdit.get, models.Types.OrganisationType.stringValue))
        	
        	<hr>
        	
        	@editButton(controllers.routes.OrganisationController.editAllowedUsers(
        		uuidToEdit.get, 1), Some(Messages("organisation.changeAllowedUsers")))
        	<hr>
        	@deleteButton(controllers.routes.OrganisationController.delete(uuidToEdit.get))
        
    	} else {
    		@formNormal(routes.OrganisationController.submitCreate, updateNewText(false)) {
        		@b3.text(organisationForm("name"), '_label -> Messages("organisation.name"))
        	}
        }    
    }
    @if(uuidToEdit.isDefined) {
    	@rowColumnCenter() {
    		@imageOrVideo(Some(routes.FileController.getStandardImage(uuidToEdit.get, models.Types.OrganisationType.stringValue)),
    			Some(routes.FileController.getThumbnailImage(uuidToEdit.get, models.Types.OrganisationType.stringValue)), 
    			None)
    	}
    }
}


