@(organisation: Organisation, organisationForm: Form[models.formdata.OrganisationForm.Data], 
	loggedInUser: Option[models.User], activeOrg: Option[models.Organisation])(implicit flash: Flash,
    request: RequestHeader, messages: Messages, lang: Lang, webJarAssets: WebJarAssets)

@import b4.inline.fieldConstructor
@import templates._
@import components.buttons._
@import components.media._
@import forms._

@main(Messages("organisations"), loggedInUser, activeOrg) {
	@title(organisation.name)
			
	@rowContentButtons() {	
		@rowEvenColumns() {
    		@formNormal(routes.OrganisationController.submitEdit(organisation.uuid), Messages("update")) {
    			@b4.text(organisationForm("name"), '_label -> Messages("name"))
    		}
        }{	
    		@imageOrVideo(Some(routes.FileController.getStandardImage(organisation.uuid, models.Types.OrganisationType.stringValue)),
    			Some(routes.FileController.getThumbnailImage(organisation.uuid, models.Types.OrganisationType.stringValue)), 
    			None)
    	}		
	}{
		@backButton(controllers.routes.OrganisationController.list(1))
		@changeImageButton(organisation.uuid, models.Types.OrganisationType)
		@editButton(controllers.routes.OrganisationController.editAllowedUsers(organisation.uuid, 1), 
			Some(Messages("changeAllowedUsers")))
		@deleteButton(controllers.routes.OrganisationController.delete(organisation.uuid))	
	}     
}


