@(organisations: List[Organisation], paginateData: utils.PaginateData, loggedInUser: Option[User], activeOrg: Option[Organisation])(implicit
    flash: Flash, request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@import templates._

@main(Messages("organisations"), loggedInUser, activeOrg) {
	@titleArea(Messages("organisations"), Some(Messages("organisations.select.active")), 
		Some(controllers.routes.OrganisationController.list(paginateData.page)))
    @rowColumnCenter() {
        @paginate(paginateData, controllers.routes.OrganisationController.editActiveOrganisation(_))

        @{
            val mediaList = organisations.map{ organisation =>
                    routes.FileController.getThumbnail(organisation.uuid, models.Types.OrganisationType.stringValue)
                }
            val linkList = organisations.map((organisation: Organisation) =>
                controllers.routes.OrganisationController.setActiveOrganisation(organisation.uuid,
                paginateData.page))
            val headingList = organisations.map(_.name)
            val textList = organisations.map(_.name)
            val activatedList = organisations.map((organisation: Organisation) =>
                if(activeOrg.isDefined) {
                    (organisation.uuid == activeOrg.get.uuid)
                } else {
                    false
                }
            )

            mediaListToggle(mediaList, linkList, headingList, textList, activatedList)
        }
    }
}