@(organisations: List[Organisation], count: Int, page: Int, pageLength: Int, loggedInUser: Option[User],
	activeOrg: Option[Organisation])(implicit flash: Flash, request: RequestHeader, messages: Messages, 
	webJarAssets: WebJarAssets)

@import templates._

@main(Messages("organisations"), loggedInUser, activeOrg) {
    @rowColumnCenter() {
        @title(Messages("organisations"), Some(Messages("function.list")))
    }
    <hr>
    @rowColumnCenter() {
        @paginate(page, pageLength, count, controllers.routes.OrganisationController.list(_))
        @{
            val mediaList = organisations.map((organisation: Organisation) =>
                if(organisation.imageReadFileId.isDefined) {
                    routes.FileRetreiverController.getImage(organisation.imageReadFileId.get)
                } else {
                    routes.Assets.at("images/organisation-default.png")
                }
            )

            val linkList = organisations.map((organisation: Organisation) => controllers.routes.OrganisationController.edit(organisation.uuid.get))
            val headingList = organisations.map(_.name.get)
            val textList = organisations.map(_.name.get)
            val activatedList = if(activeOrg.isDefined) {
                organisations.map((organisation: Organisation) =>
                    (organisation.uuid.get == activeOrg.get.uuid.get))
            } else {
                List()
            }

            mediaListWithOneLink(mediaList, linkList, headingList, textList, activatedList)
        }
    }
    <hr>
    @rowColumnCenter() {
        @editButton(controllers.routes.OrganisationController.editActiveOrganisation(1),
            Some(Messages("organisations.select.active")))
    }
    <hr>
    @rowColumnCenter() {
        @createButton(controllers.routes.OrganisationController.create)
    }
}