@(organisations: List[Organisation], paginateData: utils.PaginateData, loggedInUser: Option[User],
	activeOrg: Option[Organisation])(implicit flash: Flash, request: RequestHeader, messages: Messages, 
	webJarAssets: WebJarAssets)

@import templates._
@import components.media._
@import components.utils._
@import components.buttons._

@main(utils.MainViewData(Messages("organisations"), utils.NavTypes.Organisations), loggedInUser, activeOrg) {
	@title(Messages("organisations"))
	@rowContentButtons() {
    	@{
            val mediaList = organisations.map{ organisation =>
            	routes.FileController.getThumbnailImage(organisation.uuid, models.Types.OrganisationType.stringValue)
            }

            val linkList = organisations.map((organisation: Organisation) => 
            	controllers.routes.OrganisationController.edit(organisation.uuid))
            	
            val headingList = organisations.map(_.name)
            val textList = organisations.map(_.name)

            displayPaginatedList(mediaList, linkList, headingList, textList, List(),
            	paginateData, controllers.routes.OrganisationController.list(_))
    	}
    }{
		@editButton(controllers.routes.OrganisationController.editActiveOrganisation(paginateData.page),
            Some(Messages("chooseActive", Messages("organisation"))))
   
        @createButton(controllers.routes.OrganisationController.create)
    }
}