@(user: User, organisations: List[Organisation], paginateData: utils.PaginateData,
    loggedInUser: Option[User], activeOrg: Option[Organisation])(implicit flash: Flash, request: RequestHeader, messages: Messages,
    webJarAssets: WebJarAssets)

@import templates._
@import components.utils._
@import components.buttons._
@import components.media._

@main(utils.MainViewData(user.name, utils.NavTypes.Users), loggedInUser, activeOrg) {
	@title(user.name)
			
	@rowContentButtons() {	
		@rowEvenColumns() {
			<div class="card card-block text-xs-center">
				<h6 class="card-subtitle text-muted">@Messages("details")</h6>
				<p class="card-text">@user.email</p>
			</div>
			<div class="card card-block text-xs-center">
				<h6 class="card-subtitle text-muted">@Messages("organisations")</h6>
        		@paginate(paginateData, controllers.routes.UserController.show(user.uuid, _))
		    	<ul class="list-unstyled">
    				@for(name <- organisations.map(_.name)) {
    				<li>
        				@name
    				</li>
    				}
				</ul>
		    </div>
        }{	
    		@imageOrVideo(Some(routes.FileController.getStandardImage(user.uuid, models.Types.UserType.stringValue)),
    			Some(routes.FileController.getThumbnailImage(user.uuid, models.Types.UserType.stringValue)), 
    			None)
    	}		
	}{
		@backButton(controllers.routes.UserController.list(1))
		@if(loggedInUser.isDefined && loggedInUser.get.uuid == user.uuid) {
			@editButton(routes.SignUpController.edit(user.uuid), Some(Messages("edit")))
		}	
	}
}
