@import viewdata._
@import models.formdata._

@(user: User, imageExists: Boolean, signUpForm: Form[SignUpForm.Data], 
	userStatus: UserStatus)(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets, 
	flash: Flash)

@import templates._
@import forms._
@import components.buttons._
@import components.media._
@import helper._
@implicitField = @{ FieldConstructor(forms.horizontalFieldConstructor.f(ViewConstants.formLabelColumns, ViewConstants.formInputColumns)) }

@main(MainViewData(Messages("edit", user.name), viewdata.NavTypes.Users, userStatus)) {

	@title(Messages("edit", user.name))
    
	@helper.form(action = routes.SignUpController.submitEdit(user.uuid)) {
    	@helper.CSRF.formField
    	@helper.inputText(signUpForm("firstName"), 'class-> "form-control", 'placeholder -> Messages("firstName"))
    	@helper.inputText(signUpForm("lastName"), 'class-> "form-control", 'placeholder -> Messages("lastName"))
    	@helper.inputText(signUpForm("email"), 'class-> "form-control", 'placeholder -> Messages("email"))
    	@helper.inputPassword(signUpForm("password"), 'class-> "form-control", 'placeholder -> Messages("password"))
    	@submitButton(Messages("update"))    		
	}
	
	@inputDivider()
	
	@labelInput() {
		<label>@Messages("image")</label>
	}{
		@if(imageExists) {
    		<img class="img-fluid" src="@routes.FileController.getStandardImage(user.uuid, 
				models.Types.UserType.stringValue)" alt="@user.name">
		} else {
			<i class="fa fa-camera-retro fa-5x"></i>
		}
	}
	
	@verticalSpace()
	
	@onlyInput() {
		@changeImageButton(user.uuid, models.Types.UserType)
	}

}(NavigationData(List(
	NavLinkData(controllers.routes.UserController.list(1), Messages("list"), false)
	)))