@import viewdata._

@(userListData: viewdata.ModelListData[User], userStatus: UserStatus)(implicit flash: Flash,
    messages: Messages, request: RequestHeader)

@import templates._
@import components.utils._
@import components.media._

@main(MainViewData(Messages("users"), viewdata.NavTypes.Users, userStatus)) {
	@title(Messages("users"))
   	@linkGridWithImageAndName(userListData, controllers.routes.UserController.list(_),
		controllers.routes.UserController.show(_, 1), models.Types.UserType)
}(NavigationData(List(
	NavLinkData(controllers.routes.UserController.list(userListData.paginateData.page), Messages("list"), true)
	)))