@(userListData: utils.ModelListData[User], loggedInUser: Option[User], activeDomain: Option[Domain])(implicit flash: Flash,
    messages: Messages, request: RequestHeader, webJarAssets: WebJarAssets)

@import templates._
@import components.utils._
@import components.media._

@main(utils.MainViewData(Messages("users"), utils.NavTypes.Users), loggedInUser, activeDomain) {
	
	@{
		val linkList = List(controllers.routes.UserController.list(userListData.paginateData.page))                
        val captionList = List(Messages("list"))
        val activeList = List(true)

        topNavigation(linkList, captionList, activeList)
    }

    @rowFullWidth() {
   		@linkGridWithImageAndName(userListData, controllers.routes.UserController.list(_),
				controllers.routes.UserController.show(_, 1), models.Types.UserType)
	}
}