@(users: List[User], paginateData:utils.PaginateData, loggedInUser: Option[User], activeOrg: Option[Organisation])(implicit flash: Flash,
    messages: Messages, request: RequestHeader, webJarAssets: WebJarAssets)

@import templates._

@main(Messages("users"), loggedInUser, activeOrg) {
	@titleArea(Messages("users"), Some(Messages("function.list")), None)
    @rowColumnCenter() {
        @paginate(paginateData, controllers.routes.UserController.list(_))

        @{
			val mediaList = users.map{ user =>
                routes.FileController.getThumbnailImage(user.uuid, models.Types.UserType.stringValue)
            }
            
            val linkList = users.map((user: User) => controllers.routes.UserController.show(user.uuid, 1))
            val headingList = users.map(_.name)
            val textList = users.map(_.email)

            mediaListWithOneLink(mediaList, linkList, headingList, textList)
        }
    }
}