@import viewdata._

@(user: User, imageExists: Boolean, domainListData: viewdata.ModelListData[Domain], 
	userStatus: UserStatus)(implicit flash: Flash, request: RequestHeader, messages: Messages)

@import templates._
@import components.utils._
@import components.buttons._
@import components.media._

@main(MainViewData(user.name, viewdata.NavTypes.Users, userStatus)) {
	@title(user.name)
	
	<div class="m-t-1">
		@labelInput() {
			<label>@Messages("image")</label>
		}{
			@if(imageExists) {
    			<img class="img-fluid m-t-1" src="@routes.FileController.getStandardImage(user.uuid, 
					models.Types.UserType.stringValue)" alt="@user.name">
			} else {
				<i class="fa fa-camera-retro fa-5x"></i>
			}
		}
	</div>		
	
	<div class="m-t-1">
		@labelInput() {
			<label>@Messages("details")</label>
		}{
			@user.email
		}
	</div>
	
	<div class="m-t-1">
		@labelInput() {
			<label>@Messages("domains")</label>
		}{
			@paginate(domainListData.paginateData, controllers.routes.UserController.show(user.uuid, _))
		    <ul class="list-unstyled">
    			@for(name <- domainListData.list.map(_.name)) {
    				<li>
        				@name
    				</li>
    			}
			</ul>
		}
	</div>
    
    @if(userStatus.loggedInUser.isDefined && userStatus.loggedInUser.get.uuid == user.uuid) {
	<div class="m-t-1">
		@onlyInput() {
			@button(routes.SignUpController.edit(user.uuid), Messages("edit", user.name), "btn-primary", 
				Some("fa fa-pencil fa-fw"))
		}
	</div>
	}	    
	
}(NavigationData(List(
	NavLinkData(controllers.routes.UserController.list(1), Messages("list"), false)
	)))