@(signUpForm: Form[models.Authentication.SignUpData])(implicit flash: Flash, request: RequestHeader, messages: Messages)

@import b3.vertical.fieldConstructor
@import templates._

@main(Messages("user.signUp"), None) {
    @formColumn(Messages("user.signUp"), routes.AuthenticationController.signUp, Messages("user.signUp")) {
        @b3.text(signUpForm("username"), '_hiddenLabel -> Messages("user.username"), 'placeholder -> Messages("user.username"), 'class -> "form-control")
        @b3.text(signUpForm("firstName"), '_hiddenLabel -> Messages("user.firstName"), 'placeholder -> Messages("user.firstName"), 'class -> "form-control")
        @b3.text(signUpForm("lastName"), '_hiddenLabel -> Messages("user.lastName"), 'placeholder -> Messages("user.lastName"), 'class -> "form-control")
        @b3.email(signUpForm("email"), '_hiddenLabel -> Messages("user.email"), 'placeholder -> Messages("user.email"), 'class -> "form-control")
        @b3.password(signUpForm("password.main"), '_hiddenLabel -> Messages("user.password"), 'placeholder -> Messages("user.password"), 'class -> "form-control")
        @b3.password(signUpForm("password.confirm"), '_hiddenLabel -> Messages("user.confirmPassword"), 'placeholder -> Messages("user.confirmPassword"), 'class -> "form-control")
    }{
        <p class="extra-form-info">
            @Messages("user.question.alreadyMember")
            @link(routes.ApplicationController.signIn) {
                @Messages("user.signIn")
            }
        </p>
    }
}

