@(factoryForm: Form[models.formdata.FactoryForm.Data], loggedInUser: Option[models.User], 
	activeOrg: Option[models.Organisation])(implicit flash: Flash, request: RequestHeader, messages: Messages, 
	lang: Lang, webJarAssets: WebJarAssets)

@import b4.inline.fieldConstructor
@import templates._
@import components.buttons._
@import components.media._
@import forms._

@main(utils.MainViewData(Messages("createNew", Messages("factory")), utils.NavTypes.Factories), loggedInUser, activeOrg) {
	@title(Messages("createNew", "factory"))
			
	@rowContentButtons() {	
		@rowEvenColumns() {
			@formNormal(routes.FactoryController.submitCreate, Messages("create")) {
        		@b4.text(factoryForm("name"), '_label -> Messages("name"))
        	}        	
        }{	
    	}		
	}{
		@backButton(controllers.routes.FactoryController.list(1))
	}
}