@(factory: Factory, factoryForm: Form[models.formdata.FactoryForm.Data], loggedInUser: Option[models.User], 
	activeOrg: Option[models.Organisation])(implicit flash: Flash, request: RequestHeader, messages: Messages, 
	lang: Lang, webJarAssets: WebJarAssets)

@import b4.inline.fieldConstructor
@import templates._
@import components.buttons._
@import components.media._
@import forms._

@main(utils.MainViewData(Messages("edit", factory.name), utils.NavTypes.Factories), loggedInUser, activeOrg) {
	@title(factory.name)
			
	@rowContentButtons() {	
		@rowEvenColumns() {
    		@formNormal(routes.FactoryController.submitEdit(factory.uuid), Messages("update")) {
        		@b4.text(factoryForm("name"), '_label -> Messages("name"))
        	}
			@formAmlFileUpload(routes.FileController.submitAmlFile(factory.uuid))
			@button(controllers.routes.FactoryController.parseAmlFiles(factory.uuid), Messages("parseAmlFiles"))        	
        }{	
    		@imageOrVideo(Some(routes.FileController.getStandardImage(factory.uuid, models.Types.FactoryType.stringValue)),
    			Some(routes.FileController.getThumbnailImage(factory.uuid, models.Types.FactoryType.stringValue)), 
    			None)
    	}		
	}{
		@backButton(controllers.routes.FactoryController.list(1))
		@changeImageButton(factory.uuid, models.Types.FactoryType)
		@deleteButton(controllers.routes.FactoryController.delete(factory.uuid))	
	}
}