@(factory: Factory, hierarchy: Hierarchy, elementChain: List[Element],
    elements: List[Element], elementPaginateData: utils.PaginateData, 
    interfaces: List[Interface], interfacePaginateData: utils.PaginateData, loggedInUser: Option[User], 
    activeOrg: Option[Organisation])(implicit flash: Flash, request: RequestHeader, messages: Messages, lang: Lang, 
    webJarAssets: WebJarAssets)

@import templates._
@import components.media._
@import components.buttons._
@import components.utils._

@main(Messages("element"), loggedInUser, activeOrg) {
	
	@title(elementChain.last.name)
	@rowContentButtons() {
        @{
        	var linkList = List(controllers.routes.FactoryController.factory(factory.uuid, 1),
                	controllers.routes.FactoryController.hierarchy(hierarchy.uuid, 1))
            var textList = List(factory.name, hierarchy.name)
            
            for(element <- elementChain) {
				linkList = (controllers.routes.FactoryController.element(element.uuid, 1, 1)
                	:: linkList.reverse).reverse

                textList = (element.name :: textList.reverse).reverse
            }

            breadcrumb(linkList, textList)
        }		
    	@{
            val mediaList = elements.map((ie: Element) => routes.FileController.
            	getThumbnailImage(ie.uuid, models.Types.ElementType.stringValue)
            )
            val linkList = elements.map((ie: Element) =>
                controllers.routes.FactoryController.element(ie.uuid, elementPaginateData.page, 
                	interfacePaginateData.page))
                
            val headingList = elements.map(_.name)
            val textList = elements.map(_.name)

            displayPaginatedList(mediaList, linkList, headingList, textList, List(), elementPaginateData, 
            	controllers.routes.FactoryController.element(elementChain.last.uuid, _, interfacePaginateData.page))
    	}
    	@{
            val mediaList = interfaces.map((ei: Interface) => routes.FileController.
            	getThumbnailImage(ei.uuid, models.Types.InterfaceType.stringValue))
                
            val linkList = interfaces.map((ei: Interface) =>
                controllers.routes.FactoryController.interface(ei.uuid))
                
            val headingList = interfaces.map(_.name)
            val textList = interfaces.map(_.name)

            displayPaginatedList(mediaList, linkList, headingList, textList, List(), interfacePaginateData, 
            	controllers.routes.FactoryController.element(elementChain.last.uuid, elementPaginateData.page, _))
    	}
    	@showImage(routes.FileController.getStandardImage(elementChain.last.uuid, 
    		models.Types.ElementType.stringValue))
    }{
    	@backButton(controllers.routes.FactoryController.hierarchy(hierarchy.uuid, 1))
    	@changeImageButton(elementChain.last.uuid, models.Types.ElementType)
        @createButton(controllers.routes.FactoryController.create)
    }
}