	@(factory: Factory, factoryHierarchies: List[Hierarchy], paginateData: utils.PaginateData, 
	loggedInUser: Option[User], activeOrg: Option[Organisation])(implicit flash: Flash,
    request: RequestHeader, messages: Messages, lang: Lang, webJarAssets: WebJarAssets)

@import templates._

@main(Messages("factory.hierarchies"), loggedInUser, activeOrg) {
    @rowMainSecondary() {
        @title(factory.name, Some(Messages("function.details")))
    }{
        @backButton(controllers.routes.FactoryController.list(1))
    }
    @rowMainSecondary() {
    }{
        @editButton(controllers.routes.FactoryController.edit(factory.uuid))
    }
    @rowColumnCenter(){
        @breadcrumb(List(controllers.routes.FactoryController.factory(factory.uuid, 1)), List(factory.name))
    }
    @rowColumnCenter() {
        @paginate(paginateData, controllers.routes.FactoryController.factory(factory.uuid, _))

        @{
			val mediaList = factoryHierarchies.map{ factoryHierarchy =>
            	routes.FileController.getThumbnailImage(factoryHierarchy.uuid, models.Types.HierarchyType.stringValue)
            }                
                
            val linkList = factoryHierarchies.map((hierarchy: Hierarchy) =>
                controllers.routes.FactoryController.factory(factory.uuid, 1))
                
            val headingList = factoryHierarchies.map(_.name)
            val textList = factoryHierarchies.map(_.name)

            mediaListWithOneLink(mediaList, linkList, headingList, textList)
        }
    }
    @rowColumnCenter() {
    	@imageOrVideo(Some(routes.FileController.getStandardImage(factory.uuid, models.Types.OrganisationType.stringValue)),
    		Some(routes.FileController.getThumbnailImage(factory.uuid, models.Types.OrganisationType.stringValue)), 
    		None)
    }    
}