@(factory: Factory, hierarchies: List[Hierarchy], paginateData: utils.PaginateData, loggedInUser: Option[User], 
	activeOrg: Option[Organisation])(implicit flash: Flash, request: RequestHeader, messages: Messages, lang: Lang, 
	webJarAssets: WebJarAssets)

@import templates._
@import components.buttons._
@import components.media._
@import components.utils._

@main(Messages("hierarchies"), loggedInUser, activeOrg) {
	
	@title(factory.name)
	@rowContentButtons() {
		@breadcrumb(List(controllers.routes.FactoryController.factory(factory.uuid, 1)), List(factory.name))
    	@{
			val mediaList = hierarchies.map{ hierarchy =>
            	routes.FileController.getThumbnailImage(hierarchy.uuid, models.Types.HierarchyType.stringValue)
            }                
                
            val linkList = hierarchies.map((hierarchy: Hierarchy) =>
                controllers.routes.FactoryController.hierarchy(hierarchy.uuid, 1))
                
            val headingList = hierarchies.map(_.name)
            val textList = hierarchies.map(_.name)

            displayPaginatedList(mediaList, linkList, headingList, textList, List(),
            	paginateData, controllers.routes.FactoryController.factory(factory.uuid, _))
    	}
    	
    	@showImage(routes.FileController.getStandardImage(factory.uuid, models.Types.FactoryType.stringValue))
    }{
    	@backButton(controllers.routes.FactoryController.list(1))
    	@changeImageButton(factory.uuid, models.Types.FactoryType)
    	@editButton(controllers.routes.FactoryController.edit(factory.uuid))
        @createButton(controllers.routes.FactoryController.create)
    }  
}