@(factory: Factory, hierarchy: Hierarchy, internalElements: List[InternalElement], paginateData: utils.PaginateData,
    loggedInUser: Option[User], activeOrg: Option[Organisation])(implicit flash: Flash, request: RequestHeader, 
    messages: Messages, lang: Lang, webJarAssets: WebJarAssets)

@import templates._
@import components.buttons._
@import components.media._
@import components.utils._

@main(Messages("hierarchies"), loggedInUser, activeOrg) {
	
	@title(hierarchy.name)
	@rowContentButtons() {
        @{
            val linkList = List(controllers.routes.FactoryController.factory(factory.uuid, 1),
                controllers.routes.FactoryController.hierarchy(hierarchy.uuid, 1))
            val textList = List(factory.name, hierarchy.name)
            breadcrumb(linkList, textList)
        }		
    	@{
            val mediaList = internalElements.map((ie: InternalElement) =>
            	routes.FileController.getThumbnailImage(ie.uuid, models.Types.InternalElementType.stringValue))

            val linkList = internalElements.map((ie: InternalElement) =>
                controllers.routes.FactoryController.element(ie.uuid, 1, 1))
            val headingList = internalElements.map(_.name)
            val textList = internalElements.map(_.name)

            displayPaginatedList(mediaList, linkList, headingList, textList, List(),
            	paginateData, controllers.routes.FactoryController.hierarchy(hierarchy.uuid, _))
    	}
    }{
    	@backButton(controllers.routes.FactoryController.factory(factory.uuid, 1))
        @createButton(controllers.routes.FactoryController.create)
    }
}