@(factory: Factory, hierarchy: Hierarchy, elementChain: List[InternalElement], 
	externalInterface: ExternalInterface, loggedInUser: Option[User], 
	activeOrg: Option[Organisation])(implicit flash: Flash, request: RequestHeader, messages: Messages, lang: Lang, 
	webJarAssets: WebJarAssets)

@import templates._
@import components.buttons._
@import components.media._
@import components.utils._

@main(Messages("factory.hierarchies"), loggedInUser, activeOrg) {
	
	@title(externalInterface.name)
	@rowContentButtons() {
        @{
            var linkList = List(controllers.routes.FactoryController.factory(factory.uuid, 1),
                controllers.routes.FactoryController.hierarchy(hierarchy.uuid, 1))
                
            var textList = List(factory.name, hierarchy.name)

            for(element <- elementChain) {
                linkList = (controllers.routes.FactoryController.element(element.uuid, 1, 1)
                                :: linkList.reverse).reverse

                textList = (element.name :: textList.reverse).reverse

            }

            linkList = (controllers.routes.FactoryController.interface(externalInterface.uuid) ::
                linkList.reverse).reverse

            breadcrumb(linkList, (externalInterface.name :: textList.reverse).reverse)
        }
    	@showImage(routes.FileController.getStandardImage(externalInterface.uuid, 
    		models.Types.ExternalInterfaceType.stringValue))        
    }{
    	@backButton(controllers.routes.FactoryController.element(elementChain.last.uuid, 1, 1))
    	@changeImageButton(externalInterface.uuid, models.Types.ExternalInterfaceType)
        @createButton(controllers.routes.FactoryController.create)
    }
}