@(factory: Factory, hierarchy: Hierarchy, elementChain: List[Element], 
	interface: Interface, loggedInUser: Option[User], 
	activeOrg: Option[Organisation])(implicit flash: Flash, request: RequestHeader, messages: Messages, lang: Lang, 
	webJarAssets: WebJarAssets)

@import templates._
@import components.buttons._
@import components.media._
@import components.utils._

@main(utils.MainViewData(interface.name, utils.NavTypes.Factories), loggedInUser, activeOrg) {
	
	@title(interface.name)
	@rowContentButtons() {
        @{
            var linkList = List(controllers.routes.FactoryController.factory(factory.uuid, 1),
                controllers.routes.FactoryController.hierarchy(hierarchy.uuid, 1))
                
            var textList = List(factory.name, hierarchy.name)

            for(element <- elementChain) {
                linkList = (controllers.routes.FactoryController.element(element.uuid, 1, 1)
                                :: linkList.reverse).reverse

                textList = (element.name :: textList.reverse).reverse

            }

            linkList = (controllers.routes.FactoryController.interface(interface.uuid) ::
                linkList.reverse).reverse

            breadcrumb(linkList, (interface.name :: textList.reverse).reverse)
        }
    	@showImage(routes.FileController.getStandardImage(interface.uuid, 
    		models.Types.InterfaceType.stringValue))        
    }{
    	@backButton(controllers.routes.FactoryController.element(elementChain.last.uuid, 1, 1))
    	@createInstructionButton(interface.uuid)
    	@createIssueButton(interface.uuid)
    	@changeImageButton(interface.uuid, models.Types.InterfaceType)
        @createButton(controllers.routes.FactoryController.create)
    }
}