@(mediaList: List[Call], linkList: List[Call], headingList: List[String], textList: List[String],
    activatedList: List[Boolean]=Nil)(implicit flash: Flash, messages: Messages)

<div class="row text-center">
<div class="col-md-12 col-lg-12">
	<div class="list-group">
    	@for(i <- 0 to (mediaList.size-1)) {
    	<!-- a -->
        	@if(activatedList != Nil && activatedList(i)) {
            	<a href="@linkList(i)" class="list-group-item list-group-item-action active">
        	} else {
            	<a href="@linkList(i)" class="list-group-item list-group-item-action">
            }
            <div class="media">
            	<div class="media-left">
                	<img height="72" class="media-object" src="@mediaList(i)" alt="@headingList(i)">
                </div>
                <div class="media-body">
                	<h4 class="list-group-item-heading">
                    	@headingList(i)
                    </h4>
                    <p class="list-group-item-text">
                    	@textList(i)
                    </p>
                </div>
            </div>
        </a>
    }
	</div>
</div>
</div>