@import viewdata._

@(domainForm: Form[models.formdata.DomainForm.Data], userStatus: UserStatus)(implicit flash: Flash, 
	request: RequestHeader, messages: Messages, lang: Lang, webJarAssets: WebJarAssets)

@import templates._
@import components.buttons._
@import components.media._
@import helper._
@implicitField = @{ FieldConstructor(forms.horizontalFieldConstructor.f("col-sm-4 col-md-3", "col-sm-8 col-md-9")) }

@main(MainViewData(Messages("createNew", Messages("domain")), viewdata.NavTypes.Domains, userStatus)) {

	@{
		val linkList = List(
			controllers.routes.DomainController.list(1),
			controllers.routes.DomainController.editActiveDomain(1),
			controllers.routes.DomainController.create
		)                
        val captionList = List(
        	Messages("list"), 
        	Messages("chooseActiveDomain"), 
        	Messages("create"))
        	
        val activeList = List(false, false, true)

        topNavigation(linkList, captionList, activeList)
    }	
			
	@rowLarge() {
    	@helper.form(action = routes.DomainController.submitCreate) {
    		@helper.CSRF.formField
    		@helper.inputText(domainForm("name"), 'class-> "form-control", 'placeholder -> Messages("name"))
    		@submitButton(Messages("create"))	
		}	
	}
}