@import viewdata._

@(domainForm: Form[models.formdata.DomainForm.Data], userStatus: UserStatus)(implicit flash: Flash, 
	request: RequestHeader, messages: Messages, lang: Lang)

@import templates._
@import components.buttons._
@import components.media._
@import helper._
@implicitField = @{ FieldConstructor(forms.horizontalFieldConstructor.f(ViewConstants.formLabelColumns, ViewConstants.formInputColumns)) }

@main(MainViewData(Messages("createNew", Messages("domain")), viewdata.NavTypes.Domains, userStatus)) {

	@title(Messages("createDomain"))
		
    @helper.form(action = routes.DomainController.submitCreate) {
    	@helper.CSRF.formField
    	@helper.inputText(domainForm("name"), 'class-> "form-control", 'placeholder -> Messages("name"))
    	@submitButton(Messages("create"))	
	}
}(NavigationData(List(
	NavLinkData(controllers.routes.DomainController.list(1), Messages("list"), false),
	NavLinkData(controllers.routes.DomainController.editActiveDomain(1), Messages("chooseActiveDomain"), false),
	NavLinkData(controllers.routes.DomainController.create, Messages("create"), true)
	)))