@import viewdata._
@import models.formdata._

@(domain: Domain, imageExists: Boolean, domainForm: Form[DomainForm.Data], 
	userStatus: UserStatus)(implicit flash: Flash, request: RequestHeader, messages: Messages, lang: Lang, 
	webJarAssets: WebJarAssets)

@import templates._
@import components.buttons._
@import components.media._
@import helper._
@implicitField = @{ FieldConstructor(forms.horizontalFieldConstructor.f("col-sm-4 col-md-3", "col-sm-8 col-md-9")) }

@main(MainViewData(Messages("edit", domain.name), viewdata.NavTypes.Domains, userStatus)) {
	
	@{
		val linkList = List(
			controllers.routes.DomainController.list(1),
			controllers.routes.DomainController.editActiveDomain(1),
			controllers.routes.DomainController.create
		)                
        val captionList = List(
        	Messages("list"), 
        	Messages("chooseActiveDomain"), 
        	Messages("create"))
        	
        val activeList = List(false, false, false)

        topNavigation(linkList, captionList, activeList)
    }

	@rowLargeSmall() {
		<h1>@domain.name</h1>
		<div class="m-t-1">
		@helper.form(action = routes.DomainController.submitEdit(domain.uuid)) {
    		@helper.CSRF.formField
    		@helper.inputText(domainForm("name"), 'class-> "form-control", 'placeholder -> Messages("name"))
    		@submitButton(Messages("update"))	
		}
		</div>
		
		<div class="m-t-2">
		@helper.form(action = routes.FileController.submitAmlFile(domain.uuid), 'enctype -> "multipart/form-data") {
    		@helper.CSRF.formField
    		@helper.inputFile(models.formdata.FileUploadForm.form(models.formdata.AmlFileKeyString), 
    			'class-> "form-control", '_label -> Messages("chooseAmlFile"))
    		@submitButton(text = Messages("uploadAmlFile"), icon = Some("fa fa-upload fa-fw"))	
		}		
		</div>

		<div class="m-t-2">
			@button(controllers.routes.DomainController.parseAmlFiles(domain.uuid), Messages("parseAmlFiles"))
		</div>
		
		<div class="m-t-2">
		@if(imageExists) {
    		<img class="img-fluid" src="@routes.FileController.getStandardImage(domain.uuid, 
				models.Types.DomainType.stringValue)" alt="@domain.name">
		} else {
			<i class="fa fa-camera-retro fa-5x"></i>
		}
		</div>
    } {
		@backButton(controllers.routes.DomainController.show(domain.uuid))
				
		@changeImageButton(domain.uuid, models.Types.DomainType)
			
		@button(
			controllers.routes.DomainController.editAllowedUsers(domain.uuid, 1),
			Messages("allowedUsers"),
			"btn-outline-primary",
			Some("fa fa-pencil fa-fw"), "btn-block")
				
		@deleteButton(controllers.routes.DomainController.delete(domain.uuid))
    }
}