@import viewdata._

@(domainListData: viewdata.ModelListData[Domain], userStatus: UserStatus)(implicit
    flash: Flash, request: RequestHeader, messages: Messages)

@import templates._
@import components.media._
@import components.buttons._
@import components.utils._

@main(MainViewData(Messages("chooseActiveDomain"), viewdata.NavTypes.Domains, userStatus)) {
	@title(Messages("chooseActiveDomain"))
	@linkGridWithImageAndName(domainListData, controllers.routes.DomainController.list(_),
		controllers.routes.DomainController.setActiveDomain(_, domainListData.paginateData.page), 
		models.Types.DomainType, (uuid: String) => userStatus.activeDomain.map(_.uuid == uuid).getOrElse(false))
}(NavigationData(List(
	NavLinkData(controllers.routes.DomainController.list(domainListData.paginateData.page), Messages("list"), false),
	NavLinkData(controllers.routes.DomainController.editActiveDomain(domainListData.paginateData.page), Messages("chooseActiveDomain"), true),
	NavLinkData(controllers.routes.DomainController.create, Messages("create"), false)
	)))