@import viewdata._

@(domain: Domain, userListData: utils.ModelListData[User], userStatus: UserStatus)(implicit flash: Flash, 
	request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@import templates._
@import components.media._
@import components.buttons._
@import components.utils._

@main(MainViewData(Messages("editAllowedUsers", domain.name), viewdata.NavTypes.Domains, userStatus)) {

	@{
		val linkList = List(
			controllers.routes.DomainController.list(1),
			controllers.routes.DomainController.editActiveDomain(1),
			controllers.routes.DomainController.create
		)                
        val captionList = List(
        	Messages("list"), 
        	Messages("chooseActiveDomain"), 
        	Messages("create"))
        	
        val activeList = List(false, false, false)

        topNavigation(linkList, captionList, activeList)
    }
	
	@rowLargeSmall() {
    } {
    	@backButton(controllers.routes.DomainController.edit(domain.uuid))
    }
    
    @rowFullWidth() {
   		@linkGridWithImageAndName(userListData, 
   			controllers.routes.DomainController.editAllowedUsers(domain.uuid, _),
			controllers.routes.DomainController.
            changeAllowedUser(domain.uuid, _, userListData.paginateData.page), models.Types.UserType,
            domain.allowedUsers.contains(_))
	}    
}