@import viewdata._

@(domain: Domain, userListData: viewdata.ModelListData[User], userStatus: UserStatus)(implicit flash: Flash, 
	request: RequestHeader, messages: Messages)

@import templates._
@import components.media._
@import components.buttons._
@import components.utils._

@main(MainViewData(Messages("editAllowedUsers", domain.name), viewdata.NavTypes.Domains, userStatus)) {
	@title(Messages("editAllowedUsers", domain.name))
	
  	@linkGridWithImageAndName(userListData, 
   		controllers.routes.DomainController.editAllowedUsers(domain.uuid, _),
		controllers.routes.DomainController.
        changeAllowedUser(domain.uuid, _, userListData.paginateData.page), models.Types.UserType,
        domain.allowedUsers.contains(_)) 
}(NavigationData(List(
	NavLinkData(controllers.routes.DomainController.list(1), Messages("list"), false),
	NavLinkData(controllers.routes.DomainController.editActiveDomain(1), Messages("chooseActiveDomain"), false),
	NavLinkData(controllers.routes.DomainController.create, Messages("create"), false)
	)))