@import viewdata._
@import models.formdata._

@(domainData: DomainData, domainForm: Form[DomainForm.Data], userStatus: UserStatus)(implicit flash: Flash, 
	request: RequestHeader, messages: Messages, lang: Lang, webJarAssets: WebJarAssets)

@import templates._
@import components.buttons._
@import components.media._
@import helper._
@import myHelper._ 
@implicitField = @{ FieldConstructor(forms.horizontalFieldConstructor.f(ViewConstants.formLabelColumns, ViewConstants.formInputColumns)) }

@main(MainViewData(Messages("edit", domainData.domain.name), viewdata.NavTypes.Domains, userStatus)) {

	@title(Messages("edit", domainData.domain.name))

	@helper.form(action = routes.DomainController.submitEdit(domainData.domain.uuid)) {
		@helper.CSRF.formField
    	@helper.inputText(domainForm("name"), 'class-> "form-control", 'placeholder -> Messages("name"))
    	@submitButton(Messages("update"))	
	}
	
	@inputDivider()

	@helper.form(action = routes.FileController.submitAmlFile(domainData.domain.uuid), 'enctype -> "multipart/form-data") {
    	@helper.CSRF.formField
    	@helper.inputFile(models.formdata.FileUploadForm.form(models.formdata.AmlFileKeyString), 
    		'class-> "form-control", '_label -> Messages("amlFiles"))
    	@submitButton(text = Messages("uploadAmlFile"), icon = Some("fa fa-upload fa-fw"))
	}
		
	@verticalSpace()

	@if(!domainData.amlFiles.isEmpty) {
		@onlyInput() {
			<ul class="list-group">
			@for(file <- domainData.amlFiles) {
				<li class="list-group-item">
					@file.filename.getOrElse("")
				<a class="pull-xs-right" href="@controllers.routes.FileController.removeAmlFile(domainData.domain.uuid, file.id.as[String])">
					@Messages("delete")<i class="fa fa-fw fa-times" aria-hidden="true"></i>
				</a>
				</li>
			}
			</ul>
			@verticalSpace()
			@button(controllers.routes.DomainController.parseAmlFiles(domainData.domain.uuid), Messages("parseAmlFiles"))
		}
	}
	
	@inputDivider()	
	
	@labelInput() {
		<label>@Messages("image")</label>
	}{
		@if(domainData.imageExists) {
    		<img class="img-fluid" src="@routes.FileController.getStandardImage(domainData.domain.uuid, 
				models.Types.DomainType.stringValue)" alt="@domainData.domain.name">
		} else {
			<i class="fa fa-camera-retro fa-5x"></i>
		}
	}
		
	@verticalSpace()
		
	@onlyInput() {
		@changeImageButton(domainData.domain.uuid, models.Types.DomainType)
	}
		
	@inputDivider()
	
	@labelInput() {
		<label>@Messages("users")</label>
	}{
		@button(
			controllers.routes.DomainController.editAllowedUsers(domainData.domain.uuid, 1),
			Messages("manageUsers"), "btn-primary", Some("fa fa-pencil fa-fw"))
	}
		
	@inputDivider()

	@labelInput() {
		<label>@Messages("delete")</label>
	}{
		@deleteButton(controllers.routes.DomainController.delete(domainData.domain.uuid))
	}
}(NavigationData(List(
	NavLinkData(controllers.routes.DomainController.list(1), Messages("list"), false),
	NavLinkData(controllers.routes.DomainController.editActiveDomain(1), Messages("chooseActiveDomain"), false),
	NavLinkData(controllers.routes.DomainController.create, Messages("create"), false)
	)))