@(domain: Domain, hierarchy: Hierarchy, elements: List[Element], paginateData: utils.PaginateData,
    loggedInUser: Option[User], activeDomain: Option[Domain])(implicit flash: Flash, request: RequestHeader, 
    messages: Messages, lang: Lang, webJarAssets: WebJarAssets)

@import templates._
@import components.buttons._
@import components.media._
@import components.utils._

@main(utils.MainViewData(hierarchy.name, utils.NavTypes.Browse), loggedInUser, activeDomain) {
	
	@title(hierarchy.name)
	@rowContentButtons() {
        @{
            val linkList = List(controllers.routes.DomainController.domain(domain.uuid, 1),
                controllers.routes.DomainController.hierarchy(hierarchy.uuid, 1))
            val textList = List(domain.name, hierarchy.name)
            breadcrumb(linkList, textList)
        }		
    	@{
            val mediaList = elements.map((ie: Element) =>
            	routes.FileController.getThumbnailImage(ie.uuid, models.Types.ElementType.stringValue))

            val linkList = elements.map((ie: Element) =>
                controllers.routes.DomainController.element(ie.uuid, 1, 1))
            val headingList = elements.map(_.name)
            val textList = elements.map(_.name)

            displayPaginatedList(mediaList, linkList, headingList, textList, List(),
            	paginateData, controllers.routes.DomainController.hierarchy(hierarchy.uuid, _))
    	}
    }{
    	@backButton(controllers.routes.DomainController.domain(domain.uuid, 1))
        @createButton(controllers.routes.DomainController.create)
    }
}