@import viewdata._

@(domainListData: utils.ModelListData[Domain], userStatus: UserStatus)(implicit flash: Flash,
    request: RequestHeader, messages: Messages, lang: Lang, webJarAssets: WebJarAssets)

@import templates._
@import components.buttons._
@import components.media._
@import components.utils._

@main(MainViewData(Messages("domains"), viewdata.NavTypes.Domains, userStatus)) {
	
	@{
		val linkList = List(
			controllers.routes.DomainController.list(domainListData.paginateData.page),
			controllers.routes.DomainController.editActiveDomain(domainListData.paginateData.page),
			controllers.routes.DomainController.create
		)                
        val captionList = List(
        	Messages("list"), 
        	Messages("chooseActiveDomain"), 
        	Messages("create"))
        	
        val activeList = List(true, false, false)

        topNavigation(linkList, captionList, activeList)
    }
    	
    @rowFullWidth() {
   		@linkGridWithImageAndName(domainListData, controllers.routes.DomainController.list(_),
				controllers.routes.DomainController.show(_), models.Types.DomainType)
	}
}