@import viewdata._

@(domain: Domain, imageExists: Boolean, userStatus: UserStatus)(implicit flash: Flash, 
	request: RequestHeader, messages: Messages, lang: Lang, webJarAssets: WebJarAssets)

@import templates._
@import components.buttons._
@import components.media._
@import forms._

@main(MainViewData(domain.name, viewdata.NavTypes.Domains, userStatus)) {
	
	@{
		val linkList = List(
			controllers.routes.DomainController.list(1),
			controllers.routes.DomainController.editActiveDomain(1),
			controllers.routes.DomainController.create
		)                
        val captionList = List(
        	Messages("list"), 
        	Messages("chooseActiveDomain"), 
        	Messages("create"))
        	
        val activeList = List(false, false, false)

        topNavigation(linkList, captionList, activeList)
    }

	@rowLargeSmall() {
		<h1>@domain.name</h1>
		@if(imageExists) {
    		<img class="img-fluid" src="@routes.FileController.getStandardImage(domain.uuid, 
				models.Types.DomainType.stringValue)" alt="@domain.name">
		} else {
			<i class="fa fa-camera-retro fa-5x"></i>
		}
    } {
		@editButton(controllers.routes.DomainController.edit(domain.uuid))
    	
    }
}