@(paginateData: viewdata.PaginateData, route: Int => Call)(implicit flash: Flash, 
	messages: Messages)

@lowbound() = @{
    ((paginateData.page.toDouble / paginateData.pageLength).floor * paginateData.pageLength).toInt
}

@highbound() = @{
    if ((lowbound() + paginateData.pageLength) * paginateData.pageLength >= paginateData.count)
        if((paginateData.count % paginateData.pageLength) > 0) {
            paginateData.count / paginateData.pageLength + 1
        } else {
            paginateData.count / paginateData.pageLength
        }
    else
        lowbound() + paginateData.pageLength
}

<div class="row text-center">
@if(paginateData.count > paginateData.pageLength) {
    <nav>
        <ul class="pagination">
            @if(paginateData.page == 1){
                <li class="disabled">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">@Messages("previous")</span>
                    </a>
                </li>
            } else {
                <li>
                    <a href="@route(paginateData.page-1)" aria-label="Previous">
                        <span aria-hidden="true">@Messages("previous")</span>
                    </a>
                </li>
            }

            @if(paginateData.page < paginateData.pageLength) {
                <li class="disabled"><a href="#"><span aria-hidden="true">&laquo;</span></a></li>
            } else {
                @if(lowbound()-paginateData.pageLength <= 0) {
                    <li><a href="@route(1)"><span aria-hidden="true">&laquo;</span></a></li>
                } else {
                    <li><a href="@route(lowbound()-paginateData.pageLength)"><span aria-hidden="true">&laquo;</span></a></li>
                }
            }

            @for(i <- lowbound().max(1) until paginateData.page) {
                <li><a href="@route(i)">@i</a></li>
            }

            <li class="active"><a href="#">@paginateData.page</a></li>

            @for(i <- paginateData.page+1 to highbound()) {
                <li><a href="@route(i)">@i</a></li>
            }

            @if(highbound() * paginateData.pageLength <= paginateData.count && highbound() > paginateData.page && paginateData.page * paginateData.pageLength != paginateData.count) {
                <li><a href="@route(highbound())"><span aria-hidden="true">&raquo;</span></a></li>
            } else {
                <li class="disabled"><a href="#"><span aria-hidden="true">&raquo;</span></a></li>
            }

            @if(paginateData.page < highbound()) {
                <li><a href="@route(paginateData.page+1)" aria-label="Next">
                    <span aria-hidden="true">@Messages("next")</span>
                </a></li>
            } else {
                <li class="disabled"><a href="#" aria-label="Next">
                    <span aria-hidden="true">@Messages("next")</span>
                </a></li>
            }
        </ul>
    </nav>
}
</div>
