@import viewdata._

@(issueForm: Form[models.formdata.IssueForm.Data], parentObjectData: AmlObjectData, 
	userStatus: UserStatus)(implicit flash: Flash, request: RequestHeader, messages: Messages, 
	lang: Lang)

@import components.utils._
@import templates._
@import components.buttons._
@import components.media._
@import forms._
@import helper._
@implicitField = @{ FieldConstructor(forms.horizontalFieldConstructor.f(ViewConstants.formLabelColumns, ViewConstants.formInputColumns)) }

@main(MainViewData(Messages("createIssue"), viewdata.NavTypes.Browse, userStatus)) {

	@{
    	var linkList = List(controllers.routes.DomainController.domain(parentObjectData.domain.uuid, 1),
			controllers.routes.DomainController.hierarchy(parentObjectData.hierarchy.uuid, 1))
                
        var textList = List(parentObjectData.domain.name, parentObjectData.hierarchy.name)

        for(amlObject: DbModel with HasName with HasModelType <- parentObjectData.amlObjectChain) {
			val link = if(amlObject.modelType == models.Types.ElementType.stringValue) {
            	controllers.routes.DomainController.element(amlObject.uuid, 1, 1)
            } else {
            	controllers.routes.DomainController.interface(amlObject.uuid)
			}
            
            linkList = linkList ::: List(link)

            textList = textList ::: List(amlObject.name)
        }

        breadcrumb(linkList, textList)
    }
    
	<div class="m-t-2">	
		@title(Messages("newIssue"))
	</div> 

    <div class="m-t-1">
    	@helper.form(action = routes.IssueController.submitCreate(parentObjectData.amlObjectChain.last.uuid)) {
    		@helper.CSRF.formField
    		@helper.inputText(issueForm("name"), 'class-> "form-control", 'placeholder -> Messages("name"))
    		@submitButton(Messages("create"))	
		}        	
    </div>        
}(NavigationData(List()))