@import viewdata._

@(issueForm: Form[models.formdata.IssueForm.Data], domain: Domain, hierarchy: Hierarchy, 
	elementChain: List[Element], interface: Option[Interface], userStatus: UserStatus)(implicit flash: Flash, 
	request: RequestHeader, messages: Messages, lang: Lang, webJarAssets: WebJarAssets)

@import components.utils._
@import templates._
@import components.buttons._
@import components.media._
@import forms._
@import helper._
@implicitField = @{ FieldConstructor(forms.horizontalFieldConstructor.f("col-sm-4 col-md-3", "col-sm-8 col-md-9")) }

@main(MainViewData(Messages("createIssue"), utils.NavTypes.Browse, userStatus)) {

	@rowLargeSmall() {
        @{
            var linkList = List(controllers.routes.DomainController.domain(domain.uuid, 1),
                controllers.routes.DomainController.hierarchy(hierarchy.uuid, 1))
                
            var textList = List(domain.name, hierarchy.name)

            for(element <- elementChain) {
                linkList = (controllers.routes.DomainController.element(element.uuid, 1, 1)
                                :: linkList.reverse).reverse

                textList = (element.name :: textList.reverse).reverse

            }
			if(interface.isDefined) {
            	linkList = (controllers.routes.DomainController.interface(interface.get.uuid) ::
                	linkList.reverse).reverse
                	
                textList = (interface.get.name :: textList.reverse).reverse
            }

            breadcrumb(linkList, textList)
        }
        <h1>
        	@Messages("createIssue")
        </h1>
        <div class="m-t-1">
    	@helper.form(action = routes.IssueController.submitCreate(interface.map(_.uuid).getOrElse(elementChain.last.uuid))) {
    		@helper.CSRF.formField
    		@helper.inputText(issueForm("name"), 'class-> "form-control", 'placeholder -> Messages("name"))
    		@submitButton(Messages("create"))	
		}        	
    	</div>        
    }{		
    	@if(interface.isDefined) {
			@button(
				routes.DomainController.interface(interface.get.uuid),
				Messages("back"),
				"btn-secondary",
				Some("fa fa-caret-left fa-fw"))    		
    	} else {
			@button(
				routes.DomainController.element(elementChain.last.uuid, 1, 1),
				Messages("back"),
				"btn-secondary",
				Some("fa fa-caret-left fa-fw"))
		}
    }	
}
