@import viewdata._

@(domain: Domain, hierarchiesListData: viewdata.ModelListData[Hierarchy], userStatus: UserStatus)(implicit flash: Flash, 
	request: RequestHeader, messages: Messages, lang: Lang)

@import templates._
@import components.buttons._
@import components.media._
@import components.utils._

@main(MainViewData(domain.name, viewdata.NavTypes.Browse, userStatus)) {

    @breadcrumb(List(controllers.routes.DomainController.domain(domain.uuid, 1)), List(domain.name))
    	
   	@linkGridWithImageAndName(hierarchiesListData, controllers.routes.DomainController.domain(domain.uuid, _),
				controllers.routes.DomainController.hierarchy(_, 1), models.Types.HierarchyType)    
}(NavigationData(List(
	NavLinkData(controllers.routes.DomainController.domain(userStatus.activeDomain.get.uuid, 1), 
		userStatus.activeDomain.get.name, true)
	)))