@import viewdata._

@(domain: Domain, hierarchiesListData: viewdata.ModelListData[Hierarchy], userStatus: UserStatus)(implicit flash: Flash, 
	request: RequestHeader, messages: Messages, lang: Lang, webJarAssets: WebJarAssets)

@import templates._
@import components.buttons._
@import components.media._
@import components.utils._

@main(MainViewData(domain.name, viewdata.NavTypes.Browse, userStatus)) {

    @rowFullWidth() {
    	@breadcrumb(List(controllers.routes.DomainController.domain(domain.uuid, 1)), List(domain.name))
    	
   		@linkGridWithImageAndName(hierarchiesListData, controllers.routes.DomainController.domain(domain.uuid, _),
				controllers.routes.DomainController.hierarchy(_, 1), models.Types.HierarchyType)
	}    
}