@import viewdata._

@(elementData: ElementData, elementListData: utils.ModelListData[Element], interfaceListData: utils.ModelListData[Interface], 
	userStatus: UserStatus)(implicit flash: Flash, request: RequestHeader, messages: Messages, lang: Lang, webJarAssets: WebJarAssets)

@import templates._
@import components.media._
@import components.buttons._
@import components.utils._

@main(MainViewData(elementData.elementChain.last.name, viewdata.NavTypes.Browse, userStatus)) {
	
    @rowFullWidth() {
        @{
        	var linkList = List(controllers.routes.DomainController.domain(elementData.domain.uuid, 1),
                	controllers.routes.DomainController.hierarchy(elementData.hierarchy.uuid, 1))
            var textList = List(elementData.domain.name, elementData.hierarchy.name)
            
            for(element <- elementData.elementChain) {
				linkList = (controllers.routes.DomainController.element(element.uuid, 1, 1)
                	:: linkList.reverse).reverse

                textList = (element.name :: textList.reverse).reverse
            }

            breadcrumb(linkList, textList)
        }    	
   		@linkGridWithImageAndName(elementListData, controllers.routes.DomainController.element(elementData.elementChain.last.uuid, 
				_, interfaceListData.paginateData.page),
				controllers.routes.DomainController.element(_, 1, 1), models.Types.ElementType)
				
		@linkGridWithImageAndName(interfaceListData, controllers.routes.DomainController.element(elementData.elementChain.last.uuid,
				elementListData.paginateData.page, _),
				controllers.routes.DomainController.interface(_), models.Types.InterfaceType)				
	} 	

	@rowLargeSmall() {
    	<div class="m-t-1">
    		@smallImage(elementData.elementChain.last.uuid, models.Types.ElementType.stringValue)
    	</div>
    }{
    	@button(
			routes.FileController.uploadImage(elementData.elementChain.last.uuid, models.Types.ElementType.stringValue),
			Messages("changeImage"),
			"btn-secondary",
			Some("fa fa-photo fa-fw"))
			
		@button(
			routes.InstructionController.create(elementData.elementChain.last.uuid),
			Messages("createInstruction"),
			"btn-info",
			Some("fa fa-pencil fa-fw"))
			
			
		@button(
			routes.IssueController.create(elementData.elementChain.last.uuid),
			Messages("createIssue"),
			"btn-warning",
			Some("fa fa-pencil fa-fw"))
    }
}