@import viewdata._

@(hierarchyData: HierarchyData, elementListData: viewdata.ModelListData[Element],
    userStatus: UserStatus)(implicit flash: Flash, request: RequestHeader, messages: Messages, 
    lang: Lang, webJarAssets: WebJarAssets)

@import templates._
@import components.buttons._
@import components.media._
@import components.utils._

@main(MainViewData(hierarchyData.hierarchy.name, viewdata.NavTypes.Browse, userStatus)) {
    @rowFullWidth() {
        @{
            val linkList = List(controllers.routes.DomainController.domain(hierarchyData.domain.uuid, 1),
                controllers.routes.DomainController.hierarchy(hierarchyData.hierarchy.uuid, 1))
            val textList = List(hierarchyData.domain.name, hierarchyData.hierarchy.name)
            breadcrumb(linkList, textList)
        }    	
   		@linkGridWithImageAndName(elementListData, controllers.routes.DomainController.hierarchy(hierarchyData.hierarchy.uuid, _),
				controllers.routes.DomainController.element(_, 1, 1), models.Types.HierarchyType)
	}      
}