@import viewdata._

@(interface: Interface, elementData: ElementData, userStatus: UserStatus)(implicit flash: Flash, 
	request: RequestHeader, messages: Messages, lang: Lang, webJarAssets: WebJarAssets)

@import templates._
@import components.buttons._
@import components.media._
@import components.utils._

@main(MainViewData(interface.name, viewdata.NavTypes.Browse, userStatus)) {
	
	@rowLargeSmall() {
        @{
            var linkList = List(controllers.routes.DomainController.domain(elementData.domain.uuid, 1),
                controllers.routes.DomainController.hierarchy(elementData.hierarchy.uuid, 1))
                
            var textList = List(elementData.domain.name, elementData.hierarchy.name)

            for(element <- elementData.elementChain) {
                linkList = (controllers.routes.DomainController.element(element.uuid, 1, 1)
                                :: linkList.reverse).reverse

                textList = (element.name :: textList.reverse).reverse

            }

            linkList = (controllers.routes.DomainController.interface(interface.uuid) ::
                linkList.reverse).reverse

            breadcrumb(linkList, (interface.name :: textList.reverse).reverse)
        }
        <div class="m-t-1">
        	@largeImage(interface.uuid, models.Types.ElementType.stringValue)
    	</div>        
    }{
    	@button(
			routes.FileController.uploadImage(interface.uuid, models.Types.InterfaceType.stringValue),
			Messages("changeImage"),
			"btn-secondary",
			Some("fa fa-photo fa-fw"))
			
		@button(
			routes.InstructionController.create(interface.uuid),
			Messages("createInstruction"),
			"btn-info",
			Some("fa fa-pencil fa-fw"))
			
		@button(
			routes.IssueController.create(interface.uuid),
			Messages("createIssue"),
			"btn-warning",
			Some("fa fa-pencil fa-fw"))
    }
}