body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
}

.large-divider {
  height: 2px;
  width: 100%;
  display:block; /* for use on default inline elements like span */
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: 4px;
  background-color: #555555;
}

.bg-subtle-green {
	background-color: #74AFAD;
}

.bg-subtle-grey {
	background-color: #ECECEA;
}

.nav .active {
	font-weight: bold;
}

.nav .nav-item-small {
	font-size: 13px;
}

.nav .nav-item-large {
	font-size: 15px;
}

.max-width-total {
	max-width: 1300px !important;
}

.black-link-icon {
	color: black !important;
}

.active-domain-text {
  color:rgb(45,45,165) !important;
}

.no-active-domain-text {
  color:rgb(185,185,45) !important;
}

.nav-top {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
}

label {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

h1 { font-size: 20px;}
h2 { font-size: 18px;}
h3 { font-size: 16px;}
h4 { font-size: 15px;}
h5 { font-size: 14px;}
h6 { font-size: 13px;}

.no-border {
	border: none !important;
}