body {
    padding-top: 60px;
    min-height: 1000px;
    color:black;
}

.navbar-fixed-top {
  margin-bottom: 19px;
}

.row {
  margin-top: 3px;
  margin-bottom: 3px;
}

[class*="col-"] {
  padding-top: 3px;
  padding-bottom: 3px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.extra-form-info {
    font-size: small;
}