body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
}

.black-link-icon {
	color: grey !important;
}

.max-width-menu {
	max-width: 160px !important;
}

.max-width-main {
	max-width: 1300px !important;
}

.brand-text {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}

.nav-left {	
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
}

.nav-left a:focus
.nav-left a:hover { 
	background-color: #eceeef !important;
}

.nav-left a.active { 
	color: black !important;
	background-color: white !important; 
	font-weight: bold !important; 
}

.nav-top {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
}

label {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

h1 { font-size: 16px; font-weight: bold; }
h2 { font-size: 16px;}
h3 { font-size: 15px; font-weight: bold;}
h4 { font-size: 15px;}
h5 { font-size: 14px; font-weight: bold;}
h6 { font-size: 14px;}
