@(submitTo: play.api.mvc.Call)(implicit flash: Flash, request: RequestHeader, messages: Messages)

@implicitField = @{ FieldConstructor(horizontalFieldConstructor.f("col-sm-4 col-md-3", "col-sm-8 col-md-9")) }
@import components.buttons._
@import helper._

@helper.form(action = submitTo, 'enctype -> "multipart/form-data") {
	@helper.CSRF.formField
	@helper.inputFile(models.formdata.FileUploadForm.form(models.formdata.AmlFileKeyString), 'class-> "form-control", '_label -> Messages("chooseAmlFile"))
	@submitButton(Messages("uploadAmlFile"), "btn-primary", Some("fa fa-upload fa-fw"))	
}