@(submitTo: play.api.mvc.Call, btnText: String, btnType: String = "btn-primary",
    icon: Option[String] = Some("fa fa-check-circle fa-fw"))(content: Html = new Html(""))(implicit flash: Flash, request: RequestHeader, messages: Messages)

@import viewdata._
@implicitField = @{ FieldConstructor(forms.horizontalFieldConstructor.f(ViewConstants.formLabelColumns, ViewConstants.formInputColumns)) }
@import components.buttons._
@import helper._

@helper.form(action = submitTo) {
	@helper.CSRF.formField
	@content
   	@submitButton(btnText, btnType, icon)	
}