@(submitTo: play.api.mvc.Call)(implicit flash: Flash, request: RequestHeader, messages: Messages)

@import viewdata._
@implicitField = @{ FieldConstructor(forms.horizontalFieldConstructor.f(ViewConstants.formLabelColumns, ViewConstants.formInputColumns)) }
@import components.buttons._
@import helper._

@helper.form(action = submitTo, 'enctype -> "multipart/form-data") {
	@helper.CSRF.formField
	@helper.inputFile(models.formdata.FileUploadForm.form(models.formdata.VideoFileKeyString), 'class-> "form-control", '_label -> Messages("chooseVideoFile"))
	@submitButton(Messages("uploadVideo"), "btn-primary", Some("fa fa-upload fa-fw"))	
}