@(submitTo: play.api.mvc.Call)(implicit flash: Flash, request: RequestHeader, messages: Messages)

@import b4.inline.fieldConstructor
@import components.buttons._

<fieldset>
    @b4.form(submitTo, 'enctype -> "multipart/form-data") {
    @helper.CSRF.formField

    <div class="form-group">
    	@b4.file(models.formdata.FileUploadForm.form(models.formdata.VideoFileKeyString), '_label -> Messages("chooseVideoFile"))
    </div>

    <div class="form-group">
    	<div>
    		@submitButton(Messages("uploadVideo"), "btn-primary", Some("fa fa-upload fa-fw"))
        </div>
    </div>
    }
</fieldset>