@(labelColClasses: String, inputColClasses: String)(elements: helper.FieldElements)

<div class="form-group row @if(elements.hasErrors) {error}">
	<label class="@labelColClasses col-form-label" for="@elements.id">@elements.label</label>
	<div class="@inputColClasses">
    	@elements.input
	</div>
</div>	
@if(elements.errors.length > 0) {
<div class="row">	
	<div class="@labelColClasses"></div>
	<div class="@inputColClasses alert alert-danger" role="alert">
  		@elements.errors.mkString(", ")
	</div>	
</div>
	}
