@(loggedInUser: Option[models.User], activeOrganisation: Option[models.Organisation])(implicit flash: Flash, messages: Messages, webJarAssets: WebJarAssets, lang: Lang)

@import templates._

@main(Messages("home"), loggedInUser, activeOrganisation) {
    @rowColumnCenter() {
    	@if(loggedInUser.isDefined) {
        	@title(Messages("home.welcome", loggedInUser.get.firstName, loggedInUser.get.lastName), loggedInUser.map(_.fullName))
        } else {
        	@title(Messages("home.welcome", "", ""), None)
        } 
    }
}
