@import viewdata._

@(genericModelData: GenericModelData, userStatus: UserStatus)(implicit flash: Flash, request: RequestHeader, messages: Messages, 
	lang: Lang, webJarAssets: WebJarAssets)

@import templates._
@import forms._

@main(MainViewData(Messages("imageUpload"), genericModelData.navType, userStatus)) {
	@title(Messages("imageUpload"))
	
	@rowLargeSmall() {	
		@formImageFileUpload(routes.FileController.submitImage(genericModelData.dbModel.uuid, genericModelData.dbModel.modelType))
	}{	
	}
}
