@(uuid: String, modelType: models.Types.ModelType, loggedInUser: Option[models.User], 
	activeDomain: Option[models.Domain])(implicit flash: Flash, request: RequestHeader, messages: Messages, 
	lang: Lang, webJarAssets: WebJarAssets)

@import templates._
@import forms._

@main(utils.MainViewData(Messages("imageUpload"), modelType.navType), loggedInUser, activeDomain) {
	@title(Messages("imageUpload"))
	
	@rowContentButtons() {	
		@formImageFileUpload(routes.FileController.submitImage(uuid, modelType.stringValue))
	}{	
	}
}