@(titleString: String, loggedInUser: Option[models.User], activeOrg: Option[models.Organisation])(content: Html)(implicit flash: Flash, 
	messages: Messages, webJarAssets: WebJarAssets, lang: Lang)

@import templates._

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <title>@titleString</title>
        
        <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.css"))" />
        <link rel="stylesheet" href="@routes.Assets.at("font-awesome-4.6.3/css/font-awesome.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("styles/b4d-styles.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("styles/main.css")" />
            
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
    </head>
    <body>

    	@if(activeOrg.isDefined) {
        	@navigationBar(activeOrg.get.name, loggedInUser)
		} else {
        	@navigationBar(Messages("activeOrganisationNotSet"), loggedInUser)
		}


<div class="container-fluid" id="main">
	<div class="row row-offcanvas row-offcanvas-left">
		<div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
            
    	@{
        	val navLinks = List(loggedInUser.map(u => routes.OrganisationController.list(1)), 
        		activeOrg.map(o => routes.UserController.list(1)),
        		activeOrg.map(o => routes.FactoryController.list(1)),
        		activeOrg.map(o => routes.InstructionController.list("", 1)),
        		activeOrg.map(o => routes.IssueController.list("", 1))).filter { _.isDefined }.flatten				

            val navTexts = List(loggedInUser.map(u => Messages("organisations")), 
        		activeOrg.map(o => Messages("users")),
        		activeOrg.map(o => Messages("factories")),
        		activeOrg.map(o => Messages("instructions")),
        		activeOrg.map(o => Messages("issues"))).filter { _.isDefined }.flatten

            if(loggedInUser.isDefined) {
            	navigation(navLinks, navTexts)
            }
        }
            	
        </div>
        <div class="col-md-9 col-lg-10 main">

        	<!--toggle sidebar button-->
            <p class="hidden-md-up">
            	<button type="button" class="btn btn-primary-outline btn-sm" data-toggle="offcanvas">
                	<i class="fa fa-chevron-left"></i> @Messages("menu")
               	</button>
            </p>            	

            @if(flash.get("success").isDefined){
            	<div class="alert alert-success" role="alert">
                	@flash.get("success")
	            </div>
    	    }                
                
            @if(flash.get("error").isDefined){
            	<div class="alert alert-danger" role="alert">
                	@flash.get("error")
	            </div>
    	    }

           	@content
        </div>
    </div>
</div><!-- container -->
<script type="text/javascript" src="@routes.WebJarAssets.at(webJarAssets.locate("jquery.min.js"))"></script>
<script type="text/javascript" src="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.js"))"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/b4d-scripts.js")"></script>
</body>
</html>