@(titleString: String, loggedInUser: Option[models.User], activeOrg: Option[models.Organisation])(content: Html)(implicit flash: Flash, 
	messages: Messages, webJarAssets: WebJarAssets, lang: Lang)

@import templates._

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <title>@titleString</title>
        <link href="//fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,600" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">
        <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.css"))">
        <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap-theme.min.css"))">
        <link rel="stylesheet" href="@routes.Assets.at("styles/main.css")">
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
    </head>
    <body>

            @{
                val navLinks = Array( routes.OrganisationController.list(1) /*,
                                  routes.UserController.list(1),
                                  routes.FactoryController.list(1),
                                  routes.InstructionController.list(1),
                                  routes.IssueController.list("MyResponsability", 1) */)

                val navTexts = Array( Messages("navigation.organisations") /*,
                                  Messages("navigation.users"),
                                  Messages("navigation.factories"),
                                  Messages("navigation.instructions"),
                                  Messages("navigation.issues") */)

                if(loggedInUser.isDefined && activeOrg.isDefined) {
                    navigationBar(activeOrg.get.name.get, navLinks, navTexts, loggedInUser)
                } else {
                    navigationBar(Messages("not.applicable"), navLinks, navTexts, loggedInUser)
                }
            }

            <div class="container">

                @if(flash.get("success").isDefined){
                    <div class="alert alert-success">
                        @flash.get("success")
                    </div>
                }

                @if(flash.get("error").isDefined){
                    <div class="alert alert-danger">
                        @flash.get("error")
                    </div>
                }

                @row() {
                    @mainContentColumn() {
                        @content
                    }
                }

                @row() {
                    @mainContentColumn() {
                        <hr>

                        @if(loggedInUser.isDefined){
                            <footer>
                                @{
                                    val titles = List(Messages("user.fullName"),
                                                      Messages("organisation.activeOrganisation"),
                                                      Messages("application.versionText"))
                                    val descriptions = List(loggedInUser.get.fullName.getOrElse(""),
                                        if(activeOrg.isDefined) {
                                            activeOrg.get.name.get
                                        } else {
                                            Messages("not.set")
                                        },
                                        Messages("application.version")
                                    )

                                    descriptionList(titles, descriptions)
                                }
                            </footer>
                        }
                    }
                }

            </div><!-- container -->
        <script type="text/javascript" src="@routes.WebJarAssets.at(webJarAssets.locate("jquery.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.js"))"></script>
    </body>
</html>