@(mainViewData: utils.MainViewData, loggedInUser: Option[models.User], activeDomain: Option[models.Domain])(content: Html)(implicit flash: Flash, 
	messages: Messages, webJarAssets: WebJarAssets, lang: Lang)

@import templates._

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <title>@mainViewData.title</title>

        <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.css"))" />
        <link rel="stylesheet" href="@routes.Assets.at("font-awesome-4.6.3/css/font-awesome.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("styles/b4d-styles.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("styles/main.css")" />
            
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
    </head>
    <body>
		@navigationBar(Messages("brandName"), loggedInUser)
    	


<div class="container-fluid" id="main">
	<div class="row row-offcanvas row-offcanvas-left">
		<div class="col-md-3 col-lg-2 sidebar-offcanvas max-width-menu" id="sidebar" role="navigation">
		        		
			<ul class="nav nav-pills nav-stacked nav-left m-a">
				@if(loggedInUser.isDefined) {
				<li class="nav-item">
					<a class="nav-link @if(mainViewData.navType == utils.NavTypes.Domains){active}" 
					href="@routes.DomainController.list(1)">
            			@Messages("domains")
            		</a>
        		</li>
        		}
        


				@if(loggedInUser.isDefined && activeDomain.isDefined) {
				<li class="nav-item">
					<a class="nav-link @if(mainViewData.navType == utils.NavTypes.Users){active}" 
					href="@routes.UserController.list(1)">
            			@Messages("users")
            		</a>
        		</li>
        		
        		<li class="nav-item">
					<a class="nav-link @if(mainViewData.navType == utils.NavTypes.Browse){active}" 
					href="@routes.DomainController.domain(activeDomain.get.uuid, 1)">
            			@Messages("browse")
            		</a>
        		</li>
        		
        		<li class="nav-item">
					<a class="nav-link @if(mainViewData.navType == utils.NavTypes.Instructions){active}" 
					href="@routes.InstructionController.list("", 1)">
            			@Messages("instructions")
            		</a>
        		</li>
        		
        		<li class="nav-item">
					<a class="nav-link @if(mainViewData.navType == utils.NavTypes.Issues){active}" 
					href="@routes.IssueController.list("", 1)">
            			@Messages("issues")
            		</a>
        		</li>
        		}
			</ul>		
			
		    @if(loggedInUser.isDefined && activeDomain.isDefined) {
		        <div class="card card-inverse card-success text-xs-center m-y-1">
  					<div class="card-block">
      					<p class="card-text">@activeDomain.get.name</p>
  					</div>
				</div>
			}
        	@if(loggedInUser.isDefined && activeDomain.isEmpty) {
        		<div class="card card-inverse card-warning text-xs-center m-y-1">
  					<div class="card-block">
  						<p class="card-text">@Messages("noActiveDomain")</p>
  					</div>
				</div>        			
			}			
            	
        </div>
        <div class="col-md-9 col-lg-10 main">

        	<!--toggle sidebar button-->
            <p class="hidden-md-up">
            	<button type="button" class="btn btn-primary-outline btn-sm" data-toggle="offcanvas">
                	<i class="fa fa-chevron-left"></i> @Messages("menu")
               	</button>
            </p>            	

            @if(flash.get("success").isDefined){
            	<div class="alert alert-success" role="alert">
                	@flash.get("success")
	            </div>
    	    }                
                
            @if(flash.get("error").isDefined){
            	<div class="alert alert-danger" role="alert">
                	@flash.get("error")
	            </div>
    	    }

           	@content
        </div>
    </div>
</div><!-- container -->
<script type="text/javascript" src="@routes.WebJarAssets.at(webJarAssets.locate("jquery.min.js"))"></script>
<script type="text/javascript" src="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.js"))"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/b4d-scripts.js")"></script>
</body>
</html>