@(brandText: String, loggedInUser: Option[User])(implicit flash: Flash, messages: Messages)

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
	<button class="navbar-toggler hidden-sm-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
		&#9776;
    </button>
	<a class="navbar-brand" href="@routes.SignInController.view">
		@brandText
	</a>
    
    <div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
        <ul class="nav navbar-nav pull-right nav-top">

			<li class="nav-item dropdown">
            	<a class="nav-link" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
            		aria-haspopup="true" aria-expanded="false">
                	@Messages("language")
                	<span class="caret"/>
                </a>
                <ul class="dropdown-menu">
                	<li><a href="@routes.ApplicationController.changeLanguage("en")">en</a></li>
                	<li><a href="@routes.ApplicationController.changeLanguage("sv")">sv</a></li>
            	</ul>
            </li>
            
            @loggedInUser.map { u =>
				<li class="nav-item dropdown">
                	<a class="nav-link" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 
                		aria-expanded="false">
                    	<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
					<ul class="dropdown-menu">
                    	<li><a href="@routes.SignUpController.edit(u.uuid)">@Messages("editAccount")</a></li>
                	</ul>
                </li>

				<li class="nav-item"><a class="nav-link" href="@routes.ApplicationController.signOut">@Messages("signOut")</a></li>
			}.getOrElse {
            	<li class="nav-item"><a class="nav-link" href="@routes.SignInController.view">@Messages("signIn")</a></li>
                <li class="nav-item"><a class="nav-link" href="@routes.SignUpController.view">@Messages("signUp")</a></li>
            }            
        </ul>
    </div>
</nav>
