@(brandText: String, navLinks: Array[play.api.mvc.Call], navTexts: Array[String], loggedInUser: Option[User])(implicit flash: Flash, messages: Messages)

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.SignInController.view">
                @brandText
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @loggedInUser.map { u =>
                    @for(i <- 0 to (navLinks.size - 1)) {
                    <li>
                        <a href="@navLinks(i)">
                            @navTexts(i)
                        </a>
                    </li>
                    }
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        @Messages("language")
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@routes.ApplicationController.changeLanguage("en")">en</a></li>
                        <li><a href="@routes.ApplicationController.changeLanguage("sv")">sv</a></li>
                    </ul>
                </li>
                @loggedInUser.map { u =>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                        <ul class="dropdown-menu">
                        	@u.uuid.map { uuid =>
                            	<li><a href="@routes.UserController.edit(uuid)">@Messages("user.editAccount")</a></li>
                            }.getOrElse {
                            	<li><a href="@routes.UserController.edit("remove-later")">@Messages("user.editAccount")</a></li>
                            }
                        </ul>
                    </li>

                    <li><a href="@routes.ApplicationController.signOut">@Messages("user.signOut")</a></li>
                }.getOrElse {
                    <li><a href="@routes.SignInController.view">@Messages("user.signIn")</a></li>
                    <li><a href="@routes.SignUpController.view">@Messages("user.signUp")</a></li>
                }
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
