@import models.formdata._

@(signInForm: Form[SignInForm.Data], 
	socialProviders: com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry)(implicit request: RequestHeader, 
	messages: Messages, webJarAssets: WebJarAssets, lang: Lang, flash: Flash)

@import viewdata._
@implicitField = @{ FieldConstructor(forms.horizontalFieldConstructor.f(ViewConstants.formLabelColumns, ViewConstants.formInputColumns)) }
@import helper._
@import templates._
@import forms._
@import components.buttons._

@main(MainViewData(Messages("signIn"), viewdata.NavTypes.None, UserStatus(None, None))) {
	
	@title(Messages("signIn"))
		
	@helper.form(action = routes.SignInController.submit()) {
    	@helper.CSRF.formField
    	@myHelper.inputEmail(signInForm("email"), 'class-> "form-control", 'placeholder -> Messages("email"))
    	@helper.inputPassword(signInForm("password"), 'class-> "form-control", 'placeholder -> Messages("password"))
    	@helper.checkbox(signInForm("rememberMe"), 'class-> "checkbox-inline", 'placeholder -> Messages("rememberMe"), 'checked -> true)
    		
    	@submitButton(Messages("signIn"))
    }
}(NavigationData(List(NavLinkData(routes.SignUpController.view, Messages("signUp"), false))))