@(signUpForm: Form[models.formdata.SignUpForm.Data])(implicit request: RequestHeader, messages: Messages, 
	webJarAssets: WebJarAssets, flash: Flash)

@import b4.inline.fieldConstructor
@import templates._
@import forms._
@import components.buttons._
@import components.media._

@main(utils.MainViewData(Messages("signUp"), utils.NavTypes.None), None, None) {
	@title(Messages("signUp"))
	@rowContentButtons() {
		@formNormal(routes.SignUpController.submitSignUp, Messages("signUp")) {
            @b4.text(signUpForm("firstName"), '_hiddenLabel -> Messages("first.name"), 'placeholder -> Messages("first.name"), 'class -> "form-control input-lg")
            @b4.text(signUpForm("lastName"), '_hiddenLabel -> Messages("last.name"), 'placeholder -> Messages("last.name"), 'class -> "form-control input-lg")
            @b4.text(signUpForm("email"), '_hiddenLabel -> Messages("email"), 'placeholder -> Messages("email"), 'class -> "form-control input-lg")
            @b4.password(signUpForm("password"), '_hiddenLabel -> Messages("password"), 'placeholder -> Messages("password"), 'class -> "form-control input-lg")
        }
    } {
    	@button(routes.SignInController.view, Messages("signIn"))
    }
}
