@(uuid: String, modelType: models.Types.ModelType, loggedInUser: Option[models.User], 
	activeDomain: Option[models.Domain])(implicit flash: Flash, request: RequestHeader, messages: Messages, 
	lang: Lang, webJarAssets: WebJarAssets)

@import templates._
@import forms._

@main(utils.MainViewData(Messages("videoUpload"), modelType.navType), loggedInUser, activeDomain) {
	@title(Messages("videoUpload"))
	
	@rowContentButtons() {	
		@formVideoFileUpload(routes.FileController.submitVideo(uuid, modelType.stringValue))
	}{	
	}
}