@import viewdata._

@(genericModelData: GenericModelData, userStatus: UserStatus)(implicit flash: Flash, request: RequestHeader, messages: Messages, 
	lang: Lang)

@import templates._
@import forms._

@main(MainViewData(Messages("videoUpload"), genericModelData.navType, userStatus)) {
	@title(Messages("videoUpload"))
	
	@rowLargeSmall() {	
		@formVideoFileUpload(routes.FileController.submitVideo(genericModelData.dbModel.uuid, genericModelData.dbModel.modelType))
	}{	
	}
}(NavigationData(List()))